<div th:fragment="editar-usuario-form" class="container-fluid">
    <input th:value="${usuario.idUsuario}"
           class="form-control " type="text" id="idUsuario" name="idUsuario" hidden="">
    <label for="username">Nombre(s)</label>
    <input th:value="${usuario.username}"
           th:attr="onchange='validarCampos(\'' + ${usuario.username} + '\', \'username\')'"
           class="form-control " type="text" id="username" name="username" required>

    <div class="container contM">
        <div class="cont-1">
            <label for="apPaterno">Apellido paterno</label>
            <input
                    th:attr="onchange='validarCampos(\'' + ${usuario.apPaterno} + '\', \'apPaterno\')'"
                    th:value="${usuario.apPaterno}" class="form-control " type="text" id="apPaterno" name="apPaterno" required>
        </div>
        <div class="cont-2">
            <label for="apMaterno">Apellido materno</label>
            <input th:value="${usuario.apMaterno}" class="form-control" type="text" id="apMaterno" name="apMaterno">
        </div>
    </div>

    <div th:fragment="correo" class="mb-3">
        <label>Correo</label>
        <input th:value="${usuario.correo}" class="form-control" disabled>
<!--               hx-post="/registrar-usuario/validar/correo"-->
<!--               th:classappend="${valid == null} ? '' : (${valid} ? 'is-valid' : 'is-invalid')" type="email"-->
<!--               th:value="${value} ?: ''"-->
    </div>

    <div class="container contM">


        <div class="cont-2">
            <label for="numEmpleado">Numero de empleado</label>
            <input th:value="${usuario.numEmpleado}" class="form-control" type="number" id="numEmpleado" name="numEmpleado" required disabled
                   min="10000" max="999999" step="1" pattern="^[0-9]*$" onkeydown="if([69,187,188,189,190].includes(event.keyCode))event.preventDefault()">
        </div>
        <div class="cont-2">
            <label for="idCarrera">Carrera</label>
            <select class="form-control " id="idCarrera" name="idCarrera" required>
                <option value="0" selected>Selecciona una carrera</option>
                <option th:each="carrera : ${carreras}"
                        th:value="${carrera.idCarrera}"
                        th:text="${carrera.Carrera_Nombre}"
                        th:selected="${carrera.idCarrera == usuario.idCarrera}"></option>
            </select>
        </div>

    </div>

    <div class="container contM">
        <div class="cont-2">
            <label for="idCategoria">Categoria</label>
            <select class="form-control" id="idCategoria" name="idCategoria" required>
                <option th:each="categoria : ${categorias}"
                        th:value="${categoria.idCategoria}"
                        th:text="${categoria.Cat_Descripcion}"
                        th:selected="${categoria.idCategoria == usuario.idCategoria}"></option>
            </select>
        </div>

        <!-- Si la bandera del perfil es verdadera, no mostrar el campo de estado, si es falsa o nula mostrarlo -->
        <div th:if="${perfil == null || !perfil}" class="cont-2" >
            <label for="idCategoria">Estado</label>
            <select class="form-control" id="idEstado" name="idEstado" th:disabled="${usuario.idRol != 0}" required>
                <option th:each="estado : ${estados}"
                        th:value="${estado.idEstado}"
                        th:text="${estado.status}"
                        th:selected="${estado.idEstado == usuario.idEstado}"></option>
            </select>
        </div>


    </div>
    <!-- Si la bandera del perfil es verdadera, no mostrar el campo de rol, si es falsa o nula mostrarlo -->
    <div th:if="${perfil == null || !perfil}" class="container contM">
        <div class="cont-2">
            <label for="idRol">Rol</label>
            <select onchange="mostrarModal()" class="form-control" id="idRol" name="idRol"  required>
                <!-- Agrega la opción predeterminada si user.idRol es 0 -->
                <option th:if="${usuario.idRol == 0}" th:value="0" th:text="Docente"></option>
                <option th:each="rol : ${roles}"
                        th:value="${rol.idRol}"
                        th:text="${rol.rol}"
                        th:if="${usuario.idRol == 0 or usuario.idRol == rol.idRol}">
                </option>

            </select>
        </div>
    </div>

    <!-- Si la bandera de perfil es nula, o verdadera, mandar este botón para reemplazar el de editar -->
    <div th:if="${perfil != null}">
        <button class="btn btn-primary" id="editar-guardar-btn"
                data-bs-dismiss="modal"
                type="submit"
                hx-swap-oob="true">
            Guardar Cambios
        </button>
    </div>
</div>