<div th:fragment="registrar-usuario-form" class="container-fluid">
    <label for="username">Nombre(s)</label>
    <input class="form-control " type="text" id="username" name="username" required>

    <div class="container contM">
        <div class="cont-1">
            <label for="apPaterno">Apellido paterno</label>
            <input class="form-control " type="text" id="apPaterno" name="apPaterno" required>
        </div>
        <div class="cont-2">
            <label for="apMaterno">Apellido materno</label>
            <input class="form-control" type="text" id="apMaterno" name="apMaterno">
        </div>
    </div>

    <div th:fragment="correo" class="mb-3"
         hx-target="this"
         hx-swap="outerHTML">
        <label for="correo">Correo</label>
        <input class="form-control" name="correo" id="correo"
               hx-post="/registrar-usuario/validar/correo"
               th:classappend="${valid == null} ? '' : (${valid} ? 'is-valid' : 'is-invalid')" type="email"
               th:value="${value} ?: ''"
               required>
        <div class="invalid-feedback">
            El correo debe ser institucional.
        </div>
    </div>

    <div class="container contM">

        <div class="cont-1">
            <label for="password">Contraseña</label>
            <input class="form-control" type="password" id="password" name="password" required>
        </div>

        <div class="cont-2">
            <label for="numEmpleado">Numero de empleado</label>
            <input class="form-control" type="number" id="numEmpleado" name="numEmpleado" required
                   min="10000" max="999999">
        </div>
    </div>

    <div class="container contM">
        <div class="cont-1">
            <label for="idCategoria">Categoria</label>
            <select class="form-control" id="idCategoria" name="idCategoria" required>
                <option value="0" selected>Selecciona una categoria</option>
                <option value="1">Administrador</option>
            </select>
        </div>

        <div class="cont-2">
            <label for="idCarrera">Carrera</label>
            <select class="form-control " id="idCarrera" name="idCarrera" required>
                <option value="0" selected>Selecciona una carrera</option>
                <option value="1">ingenieria en computacion</option>
            </select>
        </div>
    </div>
</div>