<div th:fragment="editar-solicitud">

	<div >
		<label class="txt_Nombre">Nombre Docente: </label>
		<input disabled th:value="${usuario.username} + ' ' + ${usuario.apPaterno} + ' ' + ${usuario.apMaterno}">
	</div>

	<div >
		<label class="txt_NumEmpleado">No Empleado: </label>
		<input disabled th:value="${usuario.numEmpleado}">
	</div>

	<div >
		<label class="txt_Categoria">Categoria: </label>
		<input disabled th:value="${categoria}">
	</div>


	<div>
		<span id="EnombreEvento-alert" style="color: red; display: none;">Ingrese el nombre del evento</span>
		<input type="number" th:value="${solicitud.idSolicitud}" name="idSolicitud" hidden>
		<input type="text" th:value="${solicitud.estadoSolicitud}" name="estadoSolicitud" hidden>
		<input type="number" th:value="${solicitud.idCarrera}" name="carreraAnterior" hidden>
		<div>
			<label>Nombre de la actividad o evento:</label>
			<input th:value="${solicitud.nombreEvento}" type="text" id="EnombreEvento" name="nombreEvento" class="form-control">
		</div>
	</div>
	<span id="Ecosto-alert" style="color: red; display: none;">Ingrese el costo del evento</span>
	<span id="Elugar-alert" style="color: red; display: none;">Ingrese el lugar del evento</span>
	<span id="Efechas-alert" style="color: red; display: none;">Ingrese los horarios y fechas del evento</span>
	
	<div class="row row-cols-2">
		<div class="col">
			<div>
				<label>Costo del evento: $</label>
				<input th:value="${solicitud.costo}" min="0" step="0.01" type="number" id="Ecosto" name="costo" class="form-control">
				<label>Fecha de salida:</label>
				<input th:value="${fechaSalida}" type="date" id="fSalidaE" onchange="validarFechas('fSalidaE','fRegresoE');"  name="fSalida" class="form-control">
				<label>Fecha de regreso:</label>
				<input th:value="${fechaRegreso}" type="date" id="fRegresoE" onchange="validarFechas('fSalidaE','fRegresoE');" name="fRegreso" class="form-control">
			</div>
		</div>
		<div class="col">
			<label>Lugar: </label>
			<input th:value="${solicitud.lugar}"  type="text" id="Elugar" name="lugar" class="form-control">
			<label>Hora de salida:</label>
			<input th:value="${horaSalida}" type="time"  id="EhoraSalida" name="horaSalida" class="form-control">
			<label>Hora de regreso:</label>
			<input th:value="${horaRegreso}" type="time" id="EhoraRegreso" name="horaRegreso" class="form-control">
		</div>
	</div>
	<label for="idCarrera">Carrera</label>
	<input type="hidden" th:value="${solicitud.idCarrera}" name="idCarrera">
    	<select class="form-control " id="idCarrera" required disabled>
            <option th:each="carrera : ${carreras}"
            		th:value="${carrera.idCarrera}"
                    th:text="${carrera.Carrera_Nombre}"
                    th:if="${carrera.idCarrera == solicitud.idCarrera}"></option>
       	</select>
    <br>
    <p id="recursoEditar-alert" style="color: red; display: none;">Seleccione los recursos a solicitar</p>
	<div class="checkbox recursos">
		<label>Recurso a solicitar:</label><br>

        <div th:each="recurso : ${recursos}">
             <input th:if="${recurso.idRecurso != 2 and recurso.idRecurso !=5}" name="recursosEditar" th:value="${recurso.idRecurso}" type="checkbox" th:attr="checked=${recurso.registrado}?'checked':null" checked>
             <input th:if="${recurso.idRecurso == 2 or recurso.idRecurso ==5}" name="recursosEditar" th:value="${recurso.idRecurso}" th:id="@{|${recurso.desc}|}" 
             		type="checkbox" th:attr="checked=${recurso.registrado}?'checked':null" 
             		th:onclick="'validarEditarRecursos(\'' + ${recurso.idRecurso} + '\')'" checked>
             	<span th:text="${recurso.desc}"></span>
             	<input type="text" th:if="${recurso.desc == 'Transporte' or recurso.desc == 'Otro'}" th:name="${recurso.desc}" th:value="${recurso.detalles}" th:id="@{|I${recurso.desc}|}" >
             </div>
		<br>
	</div>
	<br>
	<p id="actividadEditar-alert" style="color: red; display: none;">Seleccione la actividades asociadas</p>
	<div class="checkbox actividades">
		<label>Actividad asociada a:</label>
		<div th:each="act : ${actividades}">
             <input th:if="${act.idActividad != 6}"  name="actividadesEditar" th:value="${act.idActividad}" type="checkbox" th:attr="checked=${act.registrado}?'checked':null" checked>
             <input th:if="${act.idActividad == 6}"  name="actividadesEditar" th:value="${act.idActividad}" 
             		type="checkbox" th:attr="checked=${act.registrado}?'checked':null" th:id="@{|${act.nombre}|}" 
             		th:onclick="'validarEditarActividad()'"
             		checked>
             <span th:text="${act.nombre}"></span>
             <input th:id="@{|I${act.nombre}|}" type="text" th:if="${act.nombre == 'Otra'}" th:value="${act.desc}" th:name="${act.nombre}">
        </div>
		
	</div>
	<br>
</div>