<div th:fragment="editar-solicitud">
	
	<div class="col-12 bg-light seccionModalTxt">
			<h5>Información del docente</h5>
	</div>
	
	<div class="row row-cols-3">
		
		<div class="col form-group">
			<label class="txt_Nombre form-label">Nombre: </label>
			<span id="usr_name" th:text="${usuario.username} + ' ' + ${usuario.apPaterno} + ' ' + ${usuario.apMaterno}"></span>
		</div>

		<div class="col form-group">
			<label class="txt_NumEmpleado">No. Empleado:</label>
			<span id="usr_num" th:text="${usuario.numEmpleado}"></span>
		</div>

		<div class="col form-group">
			<label class="txt_Categoria">Categoría: </label>
			<span th:text="${categoria}">
		</div>
	</div>
	<div class="col-12 bg-light seccionModalTxt">
			<h5>Detalles del evento</h5>
	</div>
	<div>
		
		<input type="number" th:value="${solicitud.idSolicitud}" name="idSolicitud" hidden>
		<input type="text" th:value="${solicitud.estadoSolicitud}" name="estadoSolicitud" hidden>
		<input type="number" th:value="${solicitud.idCarrera}" name="carreraAnterior" hidden>
	</div>
	<span id="EnombreEvento-alert" style="color: red; display: none;">Nombre del evento invalido</span>
	<span id="nombrelargo-alert" style="color: red; display: none;">Nombre del evento, máximo 100 caracteres</span>
	<span id="Ecosto-alert" style="color: red; display: none;">Coste de evento invalido</span>
	<span id="costolargo-alert" style="color: red; display: none;">Costo máximo 100,000</span>
	<span id="Elugar-alert" style="color: red; display: none;">Ingrese el lugar del evento</span>
	<span id="lugarLargo-alert" style="color: red; display: none;">Lugar invalido, máximo 100 caracteres</span>
	<span id="Efechas-alert" style="color: red; display: none;">Ingrese los horarios y fechas del evento</span>
	
	<div class="row row-cols-2">
		<div class="col">
			<div class="form-group">
				<label class="txt_editar">Nombre del evento:</label>
				<input th:value="${solicitud.nombreEvento}" type="text" id="EnombreEvento" name="nombreEvento" class="form-control">
				
			</div>
			<div class="form-group">
				<label class="txt_editar">Costo del evento: $</label>
				<input th:value="${solicitud.costo}" min="0" step="0.01" type="number" id="Ecosto" name="costo" class="form-control" >
			</div>
		</div>
		<div class="col">
			<div class="form-group">
				<label class="txt_editar">Lugar: </label>
				<input th:value="${solicitud.lugar}"  type="text" id="Elugar" name="lugar" class="form-control" required>
			</div>
			<div class="form-group">
				<input type="hidden" name="idCarrera" th:value="${solicitud.idCarrera}">
				<label for="idCarrera" class="txt_editar">Carrera</label>
				<select class="form-control " id="idCarrera" required disabled>
		            <option th:each="carrera : ${carreras}"
		            		th:value="${carrera.idCarrera}"
		                    th:text="${carrera.Carrera_Nombre}"
		                    th:if="${carrera.idCarrera == solicitud.idCarrera}"></option>
		       	</select>
			</div>
			
		</div>
	</div>
	<div class="row row-cols-2">
		<div class="col form-group">
			<label class="txt_editar">Fecha y hora de salida:</label>
			<input th:value="${fechaSalida}" type="date" id="fSalidaE" onchange="validarFechas('fSalidaE','fRegresoE');"  name="fSalida" class="form-control" required>
			<input th:value="${horaSalida}" type="time"  id="EhoraSalida" name="horaSalida" class="form-control" required>
		</div>
		<div class="col form-group">
			<label class="txt_editar">Fecha y hora de regreso:</label>
			<input th:value="${fechaRegreso}" type="date" id="fRegresoE" onchange="validarFechas('fSalidaE','fRegresoE');" name="fRegreso" class="form-control" required>
			<input th:value="${horaRegreso}" type="time" id="EhoraRegreso" name="horaRegreso" class="form-control" required>
		</div>
	</div>
	
    <div class="row row-cols-2">
		<div class="col-5 bg-light seccionModalTxt">
			<h5>Recurso a solicitar:</h5>
		</div>
		<div class="col-5 offset-1 bg-light seccionModalTxt">
			<h5>Actividad asociada a:</h5>
		</div>
		<div class="col-6 checkbox">
			
	        <div th:each="recurso : ${recursos}" class="form-check">
				<p id="recursoEditar-alert" style="color: red; display: none;">Seleccione los recursos a solicitar</p>
	             <input class="form-check-input" th:if="${recurso.idRecurso != 2 and recurso.idRecurso !=5}" name="recursosEditar" th:value="${recurso.idRecurso}" type="checkbox" th:attr="checked=${recurso.registrado}?'checked':null" checked>
	             <input class="form-check-input" th:if="${recurso.idRecurso == 2 or recurso.idRecurso ==5}" name="recursosEditar" th:value="${recurso.idRecurso}" th:id="@{|${recurso.desc}|}" 
	             		type="checkbox" th:attr="checked=${recurso.registrado}?'checked':null" 
	             		th:onclick="'validarEditarRecursos(\'' + ${recurso.idRecurso} + '\')'" checked>
	             	<label class="form-check-label" th:text="${recurso.desc}"></label>
	             	<input type="text" th:if="${recurso.desc == 'Transporte' or recurso.desc == 'Otro'}" th:name="${recurso.desc}" th:value="${recurso.detalles}" th:id="@{|I${recurso.desc}|}" th:attr="disabled=${!recurso.registrado}?'disabled':null" maxlength="120" disabled>
	             </div>
		</div>
		
		<div class="col-6 checkbox">
			
			<div th:each="act : ${actividades}" class="form-check">
				<p id="actividadEditar-alert" style="color: red; display: none;">Seleccione la actividades asociadas</p>
	             <input class="form-check-input" th:if="${act.idActividad != 6}"  name="actividadesEditar" th:value="${act.idActividad}" type="checkbox" th:attr="checked=${act.registrado}?'checked':null" checked>
	             <input class="form-check-input" th:if="${act.idActividad == 6}"  name="actividadesEditar" th:value="${act.idActividad}" 
	             		type="checkbox" th:attr="checked=${act.registrado}?'checked':null" th:id="@{|${act.nombre}|}" 
	             		th:onclick="'validarEditarActividad()'"
	             		checked>
	             <label class="form-check-label" th:text="${act.nombre}"></label>
	             <input th:id="@{|I${act.nombre}|}" type="text" th:if="${act.nombre == 'Otra'}" th:value="${act.desc}" th:name="${act.nombre}" th:attr="disabled=${!act.registrado}?'disabled':null" disabled>
	        </div>
		</div>
	</div>
</div>