<div th:fragment="solicitudes-por-firmar">
    <div class="solicitudContenedor" sec:authorize="hasAnyRole('ROLE_ADMINISTRACIÓN','ROLE_SUBDIRECTOR', 'ROLE_DIRECTOR', 'ROLE_COORDINACION')">		
         
         <div hx-target=".solicitudes-por-firmar"
             hx-trigger="refreshSolicitudesFirmar from:body"
             hx-include="[name='filtros-form']"
             th:attr="hx-get=@{'/solicitud/solicitudPagination?page=' + ${current}}">
         </div>
         
         <h4 class="display-6">Solicitudes pendientes por firmar</h4>
         <h5 class="Descripcion_tabla">Autoriza o rechaza solicitudes de salida</h5>
            <div class="container-fluid"><br>
        <!-- Formulario con los filtros -->
        <form class="row row-cols-lg-auto align-items-center g-3"
              name="filtros-form"
              hx-get="/solicitud/solicitudPagination"
              hx-indicator=".htmx-indicator"
              hx-target=".solicitudes-por-firmar"
              th:object="${filtros}"
        >
            <input type="hidden" id="page" name="page" th:value="*{page}">
            <!-- La página a mostrar -->
            <div class="col-12">
                <label for="search-box" class="visually-hidden">Nombre</label>
                <div class="input-group">
                    <input id="search-box" name="nombre"
                           class="form-control" type="text"
                           placeholder="Nombre"
                           th:value="*{nombre}"
                    >
                </div>
            </div>

            <div class="col-12">
                <button type="submit" class="btn btn-primary"
                        onclick="document.getElementById('page').value = 1">
                    <svg xmlns="http://www.w3.org/2000/svg" width="25" height="25" fill="currentColor" class="bi bi-search" viewBox="0 0 16 16">
					  <path d="M11.742 10.344a6.5 6.5 0 1 0-1.397 1.398h-.001c.03.04.062.078.098.115l3.85 3.85a1 1 0 0 0 1.415-1.414l-3.85-3.85a1.007 1.007 0 0 0-.115-.1zM12 6.5a5.5 5.5 0 1 1-11 0 5.5 5.5 0 0 1 11 0"/>
					</svg>
                </button>
            </div>

        </form>
        <span class="htmx-indicator">
            Buscando...
        </span>
    </div>
        <table class="table">
            <thead class="table-bordered"><!--ENCABEZADO DE LA TABLA-->
            <tr class="table-light">
                <th scope="col">Nombre del evento</th>
                <th scope="col">Nombre del solicitante</th>
                <th scope="col">Número de empleado</th>
                <th scope="col">Opciones</th>
            </tr>
            </thead><!--FIN ENCABEZADO DE TABLA-->

            <tbody><!--CUERPO DE LA TABLA-->
            <tr th:each="sol, iter : ${solicitudes_pendientes}">
                <td th:text="${sol.nombreEvento}"></td>
                <td th:text="${usuarios_firmar[iter.index].username} + ' ' + ${usuarios_firmar[iter.index].apPaterno} + ' ' + ${usuarios_firmar[iter.index].apMaterno}"></td>
                <td th:text="${usuarios_firmar[iter.index].numEmpleado}"></td>
                <td>
                    <button class="btn btn-secondary" data-bs-toggle="modal" data-bs-target="#ModalSolicitudInfo"
                            th:hx-get="'/solicitud?id=' + ${sol.getIdSolicitud}"
                            hx-target="#solicitud-info-body"
                    >
                        <svg xmlns="http://www.w3.org/2000/svg" width="25" height="25" fill="currentColor" class="bi bi-eye-fill" viewBox="0 0 16 16">
                        <path d="M10.5 8a2.5 2.5 0 1 1-5 0 2.5 2.5 0 0 1 5 0"/>
                        <path d="M0 8s3-5.5 8-5.5S16 8 16 8s-3 5.5-8 5.5S0 8 0 8m8 3.5a3.5 3.5 0 1 0 0-7 3.5 3.5 0 0 0 0 7"/>
                    </svg>
                    </button>
                    <button type="button" class="btn reporte_btn" id="btn_Firmar"
                            data-bs-toggle="modal" data-bs-target="#confirmar-firma"
                            th:attr="data-evento=${sol.nombreEvento}, data-solicitudid=${sol.getIdSolicitud}"
                            onclick="document.getElementById('confirmar-firma-evento').innerHTML = this.dataset.evento;
                                        document.getElementById('firmar-solicitud-id').value = this.dataset.solicitudid;"
                    >
                        <svg xmlns="http://www.w3.org/2000/svg" width="25" height="25" fill="#024731" class="bi bi-check-circle-fill" viewBox="0 0 16 16">
						  <path d="M16 8A8 8 0 1 1 0 8a8 8 0 0 1 16 0m-3.97-3.03a.75.75 0 0 0-1.08.022L7.477 9.417 5.384 7.323a.75.75 0 0 0-1.06 1.06L6.97 11.03a.75.75 0 0 0 1.079-.02l3.992-4.99a.75.75 0 0 0-.01-1.05z"/>
						</svg>
                    </button>
                    <button type="button" class="btn editar_btn" data-bs-toggle="modal" data-bs-target="#rechazarSolicitud"
                    th:attr="data-evento=${sol.nombreEvento}, data-solicitudid=${sol.getIdSolicitud}"
                    onclick="document.getElementById('rechazar-solicitud-id').value = this.dataset.solicitudid;
                    document.getElementById('confirmar-rechazo-evento').innerHTML = this.dataset.evento;limpiarModalRechazar();"
                    th:disabled="${sol.idEstadoSolicitud != 1 and sol.idEstadoSolicitud != 2}"
                   
                    >
					  <svg xmlns="http://www.w3.org/2000/svg" width="25" height="25" fill="#B08208" class="bi bi-x-circle-fill" viewBox="0 0 16 16">
						  <path d="M16 8A8 8 0 1 1 0 8a8 8 0 0 1 16 0M5.354 4.646a.5.5 0 1 0-.708.708L7.293 8l-2.647 2.646a.5.5 0 0 0 .708.708L8 8.707l2.646 2.647a.5.5 0 0 0 .708-.708L8.707 8l2.647-2.646a.5.5 0 0 0-.708-.708L8 7.293z"/>
						</svg>
					</button>
                </td>
            </tr>
            </tbody><!--FIN CUERPO TABLA-->
        </table>
            <nav aria-label="Page navigation example">
        <ul class="pagination">
            <nav aria-label="Pagination" th:object="${filtros}">
                <ul class="pagination justify-content-center">
                    <li class="page-item" th:classappend="${prev == 0 ? 'disabled': ''}">
                        <a class="page-link"
                           hx-include="[name='filtros-form']"
                           hx-get="/solicitudPagination"
                           hx-target=".solicitudes-por-firmar"
                           th:onclick="'document.getElementById(\'page\').value = ' + ${prev}">
                           <svg xmlns="http://www.w3.org/2000/svg" width="25" height="25" fill="currentColor" class="bi bi-caret-left-fill" viewBox="0 0 16 16">
							  <path d="m3.86 8.753 5.482 4.796c.646.566 1.658.106 1.658-.753V3.204a1 1 0 0 0-1.659-.753l-5.48 4.796a1 1 0 0 0 0 1.506z"/>
							</svg>
                        </a>
                    </li>
                    <li class="page-item" th:if="${first > 1}">
                        <a class="page-link"
                           hx-include="[name='filtros-form']"
                           hx-get="/solicitudPagination"
                           hx-target=".solicitudes-por-firmar"
                           onclick="document.getElementById('page').value = 1"
                           >1</a>
                    </li>
                    <li class="page-item" th:if="${first > 1}">
                        <a class="page-link">...</a>
                    </li>
                    <li class="page-item" th:each="page : ${pages}" th:classappend="${current == page ? 'active': ''}">
                        <a class="page-link"
                           hx-include="[name='filtros-form']"
                           hx-get="/solicitud/solicitudPagination"
                           hx-target=".solicitudes-por-firmar"
                           th:onclick="'document.getElementById(\'page\').value=' + ${page}"
                           th:text="${page}"></a>
                    </li>
                    <li class="page-item" th:if="${end < last }">
                        <a class="page-link">...</a>
                    </li>
                    <li class="page-item" th:if="${end < last }">
                        <a class="page-link"
                           hx-include="[name='filtros-form']"
                           hx-get="/solicitudPagination"
                           hx-target=".solicitudes-por-firmar"
                           th:onclick="'document.getElementById(\'page\').value=' + ${last}"
                           th:text="${last}"
                        >...</a>
                    </li>
                    <li class="page-item" th:classappend="${current == last ? 'disabled': ''}">
                        <a class="page-link"
                           hx-include="[name='filtros-form']"
                           hx-get="/solicitudPagination"
                           hx-target=".solicitudes-por-firmar"
                           th:onclick="'document.getElementById(\'page\').value=' + ${next}">
                            <svg xmlns="http://www.w3.org/2000/svg" width="25" height="25" fill="currentColor" class="bi bi-caret-right-fill" viewBox="0 0 16 16">
							  <path d="m12.14 8.753-5.482 4.796c-.646.566-1.658.106-1.658-.753V3.204a1 1 0 0 1 1.659-.753l5.48 4.796a1 1 0 0 1 0 1.506z"/>
							</svg>
                        </a>
                    </li>
                </ul>
            </nav>
        </ul>
    </nav>
    </div>
    
    <div class="prueba"></div>
</div>