<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:hx="http://www.w3.org/1999/xhtml">
<head  th:fragment="head">
    <meta charset="utf-8">
    <title th:text="'SGS' + ${title != null ? '-' + title : ''}"></title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <!--Boostrap-->
    <link href="/css/bootstrap/bootstrap.min.css" rel="stylesheet">
    <script src="/js/bootstrap/bootstrap.bundle.min.js"></script>
    <!--fin boostrap-->

    <!--Archivo css-->
    <link rel="stylesheet" href="/css/Index.css">
    <link rel="stylesheet" href="/css/bootstrap/bootstrap.min.css">
    <link rel="stylesheet" href="/css/ListarUsuarios.css">
    <!--fin css-->

    <!--archivo js-->
    <script  type="text/javascript" src="/js/index.js"></script>
    <!--Fin archivo js-->

    <!-- HTMX -->
    <script src="/js/htmx.min.js"></script>
</head>
<body>
    <div th:fragment="nav">
        <!--Inicio barra de navegacion------------------------------------------------------------------>
        <div class="container-fluid cuadro-negro row row-cols-12">
			
			<div class="col-1">
				<img class="logo" src="/img/Logo-UABC.png" alt="Logo-UABC">
			</div>
			
			<div class="col-3 divnavt">
				<a class="nav-link" id="titulo" aria-current="page" href="/">SISTEMA DE GESTIÓN DE SALIDAS</a>
			</div>
				
			<div class="col-1 divnav" sec:authorize="!hasAnyRole('ROLE_SECRETARIO')">
				<a id="inicio" class="nav-link" href="/" onclick="cambiarOpcion()">Inicio</a>
			</div>
			
			<div class="col-2 divnav" sec:authorize="hasAnyRole('ROLE_ADMINISTRADOR','ROLE_SUBDIRECTOR')">
				<a id="administrar" class="nav-link" href="/admin/administrarCuenta">Administrar Cuentas</a>
			</div>
			
			<div class="col-2 divnav" sec:authorize="!hasAnyRole('ROLE_SECRETARIO')">
				<a id="historialSolicitudes" class="nav-link" href="/historialDeSolicitudes">Historial de Solicitudes</a>
			</div>
            
			<div class="col-2 divnav" sec:authorize="hasAnyRole('ROLE_SECRETARIO')">
				<a id="historialSolicitudes" class="nav-link" href="/historialDeSolicitudes">Solicitudes</a>
			</div>
			
			<div class="col-2 divnavb" sec:authorize="!hasAnyRole('ROLE_SECRETARIO')">
				<!-- Este botón hace una petición get para obtener el perfil, el resultado se coloca en el
	                                 elemento de la clase modal-body dentro del modal ModalPerfil -->
	                            <button id="btn-perfil" class="btn"
	                                    data-bs-toggle="modal"
	                                    data-bs-target="#ModalPerfil"
	                                    hx-get="/usuario/perfil"
	                                    hx-target="#ModalPerfil .modal-body">Ver Perfil</button>
			</div>
			
			<div class="col-2 divnavt" sec:authorize="isAuthenticated()">
				<a class="nav-link" th:href="@{/logout}">Cerrar Sesión</a>
			</div>
			
			
		</div>
        <!-- Div para mensajes de resultado -->
        <div id="result"></div>
        <!--Fin Barra de navegacion----------------------------------------------------------------------->
        <!--Perfil de usuario-->
        <div class="modal fade m1" id="ModalPerfil" tabindex="-1" role="dialog" aria-labelledby="ModalPerfilTitle"
             aria-hidden="true">
            <div class="modal-dialog modal-lg" role="document">

                <!--method="post" action="/registrar-usuario/registrar"-->
                <div class="modal-content" id="modal">
                    <form class="form-control"
                          hx-post="/usuario/editar"
                          hx-target="#result"
                          hx-confirm="¿Seguro que desea guardar los cambios?"
                          hx-disinherit="hx-confirm"
                          hx-swap="innerHTML">

                        <div class="modal-header">
                            <h5 class="modal-title" id="ModalPerfilTitle">Perfil usuario</h5>
                        </div>

                        <div class="modal-body" id="modal-perfil-body" hx-swap="innerHTML">
                        </div>

                        <div class="modal-footer">
                            <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cerrar</button>
                            <button class="btn btn-primary" id="editar-guardar-btn"
                                    sec:authorize="hasAnyRole('ROLE_DOCENTE')"
                            >
                                Editar
                            </button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
	<div class="info">
		<button class="btn infoTrabajadores w-100" data-bs-toggle="modal" data-bs-target="#modalInfo">
			<svg xmlns="http://www.w3.org/2000/svg" width="100%" height="100%"  class="bi bi-info-circle-fill" viewBox="0 0 16 16">
			  <path d="M8 16A8 8 0 1 0 8 0a8 8 0 0 0 0 16m.93-9.412-1 4.705c-.07.34.029.533.304.533.194 0 .487-.07.686-.246l-.088.416c-.287.346-.92.598-1.465.598-.703 0-1.002-.422-.808-1.319l.738-3.468c.064-.293.006-.399-.287-.47l-.451-.081.082-.381 2.29-.287zM8 5.5a1 1 0 1 1 0-2 1 1 0 0 1 0 2"/>
			</svg>
		</button>
	</div>
	
		<!-- Modal -->
		<div class="modal modal-dark fade" id="modalInfo" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
		  <div class="modal-dialog modal-lg" role="document">
		    <div class="modal-content">
		      <div class="modal-header">
		        <h4 class="modal-title" id="exampleModalLabel">ByteK - Integrantes</h4>
		        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">
					<svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" fill="currentColor" class="bi bi-x-circle-fill" viewBox="0 0 16 16">
					  <path d="M16 8A8 8 0 1 1 0 8a8 8 0 0 1 16 0M5.354 4.646a.5.5 0 1 0-.708.708L7.293 8l-2.647 2.646a.5.5 0 0 0 .708.708L8 8.707l2.646 2.647a.5.5 0 0 0 .708-.708L8.707 8l2.647-2.646a.5.5 0 0 0-.708-.708L8 7.293z"/>
					</svg>
				</button>
		      </div>
		      <div class="modal-body bodyInfo">
		        <ul class="modalInfoList">
					<li style="--i:13" data-icon="&#xf015"> 
						<svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" fill="currentColor" class="bi bi-person-video" viewBox="0 0 16 16">
						  <path d="M8 9.05a2.5 2.5 0 1 0 0-5 2.5 2.5 0 0 0 0 5"/>
						  <path d="M2 2a2 2 0 0 0-2 2v8a2 2 0 0 0 2 2h12a2 2 0 0 0 2-2V4a2 2 0 0 0-2-2zm10.798 11c-.453-1.27-1.76-3-4.798-3-3.037 0-4.345 1.73-4.798 3H2a1 1 0 0 1-1-1V4a1 1 0 0 1 1-1h12a1 1 0 0 1 1 1v8a1 1 0 0 1-1 1z"/>
						</svg>
						<label>Administrador:</label>
						<a href="mailto:felix.ivan.cordova.vale@uabc.edu.mx">Felix Ivan Cordova Vale - 365957</a>
					</li>
					<li style="--i:12" data-icon="&#xf015"> 
						<svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" fill="currentColor" class="bi bi-file-earmark-richtext" viewBox="0 0 16 16">
						  <path d="M14 4.5V14a2 2 0 0 1-2 2H4a2 2 0 0 1-2-2V2a2 2 0 0 1 2-2h5.5zm-3 0A1.5 1.5 0 0 1 9.5 3V1H4a1 1 0 0 0-1 1v12a1 1 0 0 0 1 1h8a1 1 0 0 0 1-1V4.5z"/>
						  <path d="M4.5 12.5A.5.5 0 0 1 5 12h3a.5.5 0 0 1 0 1H5a.5.5 0 0 1-.5-.5m0-2A.5.5 0 0 1 5 10h6a.5.5 0 0 1 0 1H5a.5.5 0 0 1-.5-.5m1.639-3.708 1.33.886 1.854-1.855a.25.25 0 0 1 .289-.047l1.888.974V8.5a.5.5 0 0 1-.5.5H5a.5.5 0 0 1-.5-.5V8s1.54-1.274 1.639-1.208M6.25 6a.75.75 0 1 0 0-1.5.75.75 0 0 0 0 1.5"/>
						</svg>
						<label>Documentador:</label>
						<a href="mailto:solanon@uabc.edu.mx "> Natalia Celeste Solano Meza - 365630</a>
					</li>
					<li style="--i:11" data-icon="&#xf015"> 
						<svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-pencil-square" viewBox="0 0 16 16">
						  <path d="M15.502 1.94a.5.5 0 0 1 0 .706L14.459 3.69l-2-2L13.502.646a.5.5 0 0 1 .707 0l1.293 1.293zm-1.75 2.456-2-2L4.939 9.21a.5.5 0 0 0-.121.196l-.805 2.414a.25.25 0 0 0 .316.316l2.414-.805a.5.5 0 0 0 .196-.12l6.813-6.814z"/>
						  <path fill-rule="evenodd" d="M1 13.5A1.5 1.5 0 0 0 2.5 15h11a1.5 1.5 0 0 0 1.5-1.5v-6a.5.5 0 0 0-1 0v6a.5.5 0 0 1-.5.5h-11a.5.5 0 0 1-.5-.5v-11a.5.5 0 0 1 .5-.5H9a.5.5 0 0 0 0-1H2.5A1.5 1.5 0 0 0 1 2.5z"/>
						</svg>
						<label>Diseñador:</label>
						<a href="mailto:edgar.nava.hernandez@uabc.edu.mx"> Edgar Nava Hernandez - 361481</a>
					</li>
					<li style="--i:10" data-icon="&#xf015"> 
						<svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" fill="currentColor" class="bi bi-eyeglasses" viewBox="0 0 16 16">
						  <path d="M4 6a2 2 0 1 1 0 4 2 2 0 0 1 0-4m2.625.547a3 3 0 0 0-5.584.953H.5a.5.5 0 0 0 0 1h.541A3 3 0 0 0 7 8a1 1 0 0 1 2 0 3 3 0 0 0 5.959.5h.541a.5.5 0 0 0 0-1h-.541a3 3 0 0 0-5.584-.953A1.993 1.993 0 0 0 8 6c-.532 0-1.016.208-1.375.547M14 8a2 2 0 1 1-4 0 2 2 0 0 1 4 0"/>
						</svg>
						<label>Analista:</label>
						<a href="mailto:hugo.dorantes50@uabc.edu.mx"> José Hugo Dorantes Alarcón - 366339</a>
					</li>
					<li style="--i:9" data-icon="&#xf015">
						<svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" fill="currentColor" class="bi bi-eyeglasses" viewBox="0 0 16 16">
						  <path d="M4 6a2 2 0 1 1 0 4 2 2 0 0 1 0-4m2.625.547a3 3 0 0 0-5.584.953H.5a.5.5 0 0 0 0 1h.541A3 3 0 0 0 7 8a1 1 0 0 1 2 0 3 3 0 0 0 5.959.5h.541a.5.5 0 0 0 0-1h-.541a3 3 0 0 0-5.584-.953A1.993 1.993 0 0 0 8 6c-.532 0-1.016.208-1.375.547M14 8a2 2 0 1 1-4 0 2 2 0 0 1 4 0"/>
						</svg> 
						<label>Analista:</label>
						<a href="mailto:fernando.hernandez.amezola@uabc.edu.mx"> Fernando Hernandez Amezola - 363201</a>
					</li>
					<li style="--i:8" data-icon="&#xf015"> 
						<svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" fill="currentColor" class="bi bi-eyeglasses" viewBox="0 0 16 16">
						  <path d="M4 6a2 2 0 1 1 0 4 2 2 0 0 1 0-4m2.625.547a3 3 0 0 0-5.584.953H.5a.5.5 0 0 0 0 1h.541A3 3 0 0 0 7 8a1 1 0 0 1 2 0 3 3 0 0 0 5.959.5h.541a.5.5 0 0 0 0-1h-.541a3 3 0 0 0-5.584-.953A1.993 1.993 0 0 0 8 6c-.532 0-1.016.208-1.375.547M14 8a2 2 0 1 1-4 0 2 2 0 0 1 4 0"/>
						</svg>
						<label>Analista:</label>
						<a href="mailto:gilberto.morales@uabc.edu.mx"> Gilberto Morales Arce - 355084</a>
					</li>
					<li style="--i:7" data-icon="&#xf015"> 
						<svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" fill="currentColor" class="bi bi-file-earmark-check" viewBox="0 0 16 16">
						  <path d="M10.854 7.854a.5.5 0 0 0-.708-.708L7.5 9.793 6.354 8.646a.5.5 0 1 0-.708.708l1.5 1.5a.5.5 0 0 0 .708 0l3-3z"/>
						  <path d="M14 14V4.5L9.5 0H4a2 2 0 0 0-2 2v12a2 2 0 0 0 2 2h8a2 2 0 0 0 2-2M9.5 3A1.5 1.5 0 0 0 11 4.5h2V14a1 1 0 0 1-1 1H4a1 1 0 0 1-1-1V2a1 1 0 0 1 1-1h5.5z"/>
						</svg>
						<label>Validación y verificación:</label>
						<a href="mailto:roberto.guzman.gonzalez@uabc.edu.mx"> Roberto Guzmán Gonzalez - 366555</a>
					</li>
					<li style="--i:6" data-icon="&#xf015"> 
						<svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" fill="currentColor" class="bi bi-card-checklist" viewBox="0 0 16 16">
							  <path d="M14.5 3a.5.5 0 0 1 .5.5v9a.5.5 0 0 1-.5.5h-13a.5.5 0 0 1-.5-.5v-9a.5.5 0 0 1 .5-.5zm-13-1A1.5 1.5 0 0 0 0 3.5v9A1.5 1.5 0 0 0 1.5 14h13a1.5 1.5 0 0 0 1.5-1.5v-9A1.5 1.5 0 0 0 14.5 2z"/>
							  <path d="M7 5.5a.5.5 0 0 1 .5-.5h5a.5.5 0 0 1 0 1h-5a.5.5 0 0 1-.5-.5m-1.496-.854a.5.5 0 0 1 0 .708l-1.5 1.5a.5.5 0 0 1-.708 0l-.5-.5a.5.5 0 1 1 .708-.708l.146.147 1.146-1.147a.5.5 0 0 1 .708 0M7 9.5a.5.5 0 0 1 .5-.5h5a.5.5 0 0 1 0 1h-5a.5.5 0 0 1-.5-.5m-1.496-.854a.5.5 0 0 1 0 .708l-1.5 1.5a.5.5 0 0 1-.708 0l-.5-.5a.5.5 0 0 1 .708-.708l.146.147 1.146-1.147a.5.5 0 0 1 .708 0"/>
							</svg>
							<label>Tester:</label>
						<a href="mailto:horacio.valderrama@uabc.edu.mx"> Horacio Valderrama Marroquin - 350397</a>
					</li>
					<li style="--i:5" data-icon="&#xf015"> 
						<svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" fill="currentColor" class="bi bi-person-fill-gear" viewBox="0 0 16 16">
						  <path d="M11 5a3 3 0 1 1-6 0 3 3 0 0 1 6 0m-9 8c0 1 1 1 1 1h5.256A4.493 4.493 0 0 1 8 12.5a4.49 4.49 0 0 1 1.544-3.393C9.077 9.038 8.564 9 8 9c-5 0-6 3-6 4m9.886-3.54c.18-.613 1.048-.613 1.229 0l.043.148a.64.64 0 0 0 .921.382l.136-.074c.561-.306 1.175.308.87.869l-.075.136a.64.64 0 0 0 .382.92l.149.045c.612.18.612 1.048 0 1.229l-.15.043a.64.64 0 0 0-.38.921l.074.136c.305.561-.309 1.175-.87.87l-.136-.075a.64.64 0 0 0-.92.382l-.045.149c-.18.612-1.048.612-1.229 0l-.043-.15a.64.64 0 0 0-.921-.38l-.136.074c-.561.305-1.175-.309-.87-.87l.075-.136a.64.64 0 0 0-.382-.92l-.148-.045c-.613-.18-.613-1.048 0-1.229l.148-.043a.64.64 0 0 0 .382-.921l-.074-.136c-.306-.561.308-1.175.869-.87l.136.075a.64.64 0 0 0 .92-.382l.045-.148ZM14 12.5a1.5 1.5 0 1 0-3 0 1.5 1.5 0 0 0 3 0"/>
						</svg>
						<label>Configuración:</label>
						<a href="mailto:a364995@uabc.edu.mx"> Diana Jaramillo Durazo - 364995</a>
					</li>
					<li style="--i:4" data-icon="&#xf015">
						<svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" fill="currentColor" class="bi bi-terminal-fill" viewBox="0 0 16 16">
						  <path d="M0 3a2 2 0 0 1 2-2h12a2 2 0 0 1 2 2v10a2 2 0 0 1-2 2H2a2 2 0 0 1-2-2zm9.5 5.5h-3a.5.5 0 0 0 0 1h3a.5.5 0 0 0 0-1m-6.354-.354a.5.5 0 1 0 .708.708l2-2a.5.5 0 0 0 0-.708l-2-2a.5.5 0 1 0-.708.708L4.793 6.5z"/>
						</svg> 
						<label>Programador:</label>
						<a href="mailto:omar.herrera13@uabc.edu.mx"> Omar Herrera Santos  - 367592</a>
					</li>
					<li style="--i:3" data-icon="&#xf015"> 
						<svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" fill="currentColor" class="bi bi-terminal-fill" viewBox="0 0 16 16">
						  <path d="M0 3a2 2 0 0 1 2-2h12a2 2 0 0 1 2 2v10a2 2 0 0 1-2 2H2a2 2 0 0 1-2-2zm9.5 5.5h-3a.5.5 0 0 0 0 1h3a.5.5 0 0 0 0-1m-6.354-.354a.5.5 0 1 0 .708.708l2-2a.5.5 0 0 0 0-.708l-2-2a.5.5 0 1 0-.708.708L4.793 6.5z"/>
						</svg>
						<label>Programador:</label>
						<a href="mailto:morenoz@uabc.edu.mx">Zair Moreno Camarillo - 361392</a>
					</li>
					<li style="--i:2" data-icon="&#xf015">
						<svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" fill="currentColor" class="bi bi-terminal-fill" viewBox="0 0 16 16">
						  <path d="M0 3a2 2 0 0 1 2-2h12a2 2 0 0 1 2 2v10a2 2 0 0 1-2 2H2a2 2 0 0 1-2-2zm9.5 5.5h-3a.5.5 0 0 0 0 1h3a.5.5 0 0 0 0-1m-6.354-.354a.5.5 0 1 0 .708.708l2-2a.5.5 0 0 0 0-.708l-2-2a.5.5 0 1 0-.708.708L4.793 6.5z"/>
						</svg> 
						<label>Programador:</label>
						<a href="mailto:huerta.fernando@uabc.edu.mx"> Fernando Huerta Ceseña  - 364932</a>
					</li>
					<li style="--i:1" data-icon="&#xf015"> 
						<svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" fill="currentColor" class="bi bi-award-fill" viewBox="0 0 16 16">
						  <path d="m8 0 1.669.864 1.858.282.842 1.68 1.337 1.32L13.4 6l.306 1.854-1.337 1.32-.842 1.68-1.858.282L8 12l-1.669-.864-1.858-.282-.842-1.68-1.337-1.32L2.6 6l-.306-1.854 1.337-1.32.842-1.68L6.331.864z"/>
						  <path d="M4 11.794V16l4-1 4 1v-4.206l-2.018.306L8 13.126 6.018 12.1z"/>
						</svg>
						<label>Asegurador de Calidad:</label>
						<a href="mailto:quezada.carlos@uabc.edu.mx"> Carlos Daniel Quezada Cervantes - 365092</a>
					</li>
				</ul>
		      </div>
		      
		    </div>
		  </div>
		</div>
		<!--fin modal-->
    </div>
    
</body>
</html>