<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:hx="http://www.w3.org/1999/xhtml">
<head  th:fragment="head">
    <meta charset="utf-8">
    <title>SASS-Principal</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <!--Boostrap-->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-C6RzsynM9kWDrMNeT87bh95OGNyZPhcTNXj1NW7RuBCsyN/o0jlpcV8Qyq46cDfL" crossorigin="anonymous"></script>
    <!--fin boostrap-->

    <!--Archivo css-->
    <link rel="stylesheet" href="/css/index.css">
    <link rel="stylesheet" href="/css/bootstrap/bootstrap.min.css">
    <link rel="stylesheet" href="/css/ListarUsuarios.css">
    <!--fin css-->

    <!--archivo js-->
    <script  type="text/javascript" src="js/index.js"></script>
    <!--Fin archivo js-->

    <!-- HTMX -->
    <script src="/js/htmx.min.js"></script>
</head>
<body>
    <div th:fragment="nav">
        <!--Inicio barra de navegacion------------------------------------------------------------------>
        <nav class="navbar navbar-expand-lg navbar-dark bg-light">
            <div class="container-fluid">

                <img class="navbar-brand logo" src="/img/Logo-UABC.png" alt="Logo-UABC">

                <div class="collapse navbar-collapse" id="navbarSupportedContent">

                    <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                        <li class="nav-item titulo">
                            <a class="nav-link" id="titulo" aria-current="page" href="index.html">SISTEMA DE AUTOMATIZACIÓN PARA SOLICITUDES DE SALIDA</a>
                        </li>

                        <li class="nav-item active" id="inicio">
                            <a class="nav-link" href="/">Inicio</a>
                        </li>
                        <div sec:authorize="hasAnyRole('ROLE_ADMINISTRADOR','ROLE_SUBDIRECTOR')">
                            <li class="nav-item active" id="administrar">
                                <a class="nav-link" href="/admin/administrarCuenta">Administrar Cuentas</a>
                            </li>
                        </div>


                        </li>

                        <li class="nav-item opc">
                            <!-- Este botón hace una petición get para obtener el perfil, el resultado se coloca en el
                                 elemento de la clase modal-body dentro del modal ModalPerfil -->
                            <button id="btn-perfil" class="btn"
                                    data-bs-toggle="modal"
                                    data-bs-target="#ModalPerfil"
                                    hx-get="/usuario/perfil"
                                    hx-target="#ModalPerfil .modal-body">Ver Perfil</button>
                        </li>

                        <li class="nav-item opc">
                            <div sec:authorize="isAuthenticated()">
                                <a th:href="@{/logout}">Cerrar
                                sesión</a></div>

                        </li>

                    </ul>

                    <form class="d-flex">
                        <input class="form-control me-2" type="search" placeholder="Buscar" aria-label="Buscar">
                        <button class="btn btn-outline-success buscar" type="submit">Buscar</button>
                    </form>

                </div>
            </div>
        </nav>
        <!--Fin Barra de navegacion----------------------------------------------------------------------->
        <!--Perfil de usuario-->
        <div class="modal fade m1" id="ModalPerfil" tabindex="-1" role="dialog" aria-labelledby="ModalPerfilTitle"
             aria-hidden="true">
            <div class="modal-dialog modal-lg" role="document">

                <!--method="post" action="/registrar-usuario/registrar"-->
                <div class="modal-content" id="modal">
                    <form class="form-control"
                          hx-post="/usuario/editar"
                          hx-target="#result"
                          hx-confirm="¿Seguro que desea guardar los cambios?"
                          hx-disinherit="hx-confirm"
                          hx-swap="innerHTML">

                        <div class="modal-header">
                            <h5 class="modal-title" id="ModalPerfilTitle">Editar Usuario</h5>
                        </div>

                        <div class="modal-body" id="modal-perfil-body" hx-swap="innerHTML">
                        </div>

                        <div class="modal-footer">
                            <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cerrar</button>
                            <button class="btn btn-primary" id="editar-guardar-btn">
                                Editar
                            </button>
                        </div>
                    </form>
                </div>
            </div>
        </div>

    </div>
</body>
</html>