/* :root se utiliza para declarar variables */
:root{

	 /*colores*/
	 --body-color: #E4E9F7;
	 --menu-color: #3B3A3A;
	 --text-color-amarillo: #DD971A;
	 --text-color-verde: #50B845;
 }
body{
	background-color: var(--body-color);
	font-family: sans-serif;
}

.navbar .container-fluid{
	width: 100% !important;
	opacity: 90%;
	position: relative;
	height: 75px;
	background-color: var(--menu-color);
	box-shadow: 5px 5px 15px gray;
}
.navbar a{
	color: var(--text-color-verde);
}

.navbar{
	width: 100%;
	text-align: center;
}
.logo{
	height: 70px;
	margin-top: 6px;
}
#titulo{
	font-weight: bold;
	color: white;
}
.buscar{
	background-color: var(--text-color-amarillo);
	border-color: var(--text-color-amarillo);
	font-weight: bold;
}
.nav-item {
	height: 80%;
	padding-top: 10px;
}

.container{
	position: relative;
	background-color: white;
}

#btn-perfil{
	color: var(--text-color-verde);
	font-weight: bold;
}
#btn-perfil:hover{
	color: var(--text-color-amarillo);
}
.nombre{
	font-family: sans-serif;
}
.contIframe{
	z-index: 1;
	position: fixed;
	width: 100%;
	height: 100%;
}
.navbar{
	z-index: 4;
}
.navbar .nav-item a{
	text-align: center;
	padding-top: 6px;
	color: var(--text-color-verde);
	font-weight: bold;
}


.navbar-nav> li{
    background: none;
    border: none;
    
}

.cont{
	padding-top: 10px;
	padding-left: 0px;
	display: grid;
	grid-column-gap: 10px;
	grid-column-row: 10px;
	grid-template-columns: 50% 50%;
}

.cont2{
	padding-top: 10px;
	padding-left: 0px;
	display: grid;
	grid-column-gap: 10px;
	grid-column-row: 10px;
	grid-template-columns: 33% 33% 33%;
}

/* Modal para confirmar solicitud*/
/* Estilo del modal */
.modalConfirmar {
	display: none;
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background-color: rgba(0, 0, 0, 0.5);
	justify-content: center;
	align-items: center;
	z-index: 9999999;

}

.modalConfirmar-content {
	background-color: #fff;
	border-radius: 10px;
	width: 300px;
	margin: 100px auto;
	padding: 20px;
	text-align: center;
	transition: opacity 0.5s;
	font-size: 1.5rem;
}

.cuadro-negro{
	top: 7px;
	text-align: center;
	width: 100% !important;
	min-width: 800px !important;
	background-color: #3B3A3A;
	opacity: 90%;
	position: relative;
	height: 80px;
	left: 12px;
	box-shadow: 5px 5px 15px gray;
	z-index: 4;
	color: #50B845;
	font-weight: 400;
}

.divnav{
	padding-top: 30px;
}
.divnavb{
	padding-top: 24px;
}
.divnavt
{
	padding-top: 30px;
}
.cuadro-negro button
{
	width: 100%;
	font-size: 15px;
}
.cuadro-negro a:hover{
	color: #DD971A;
}

.divnav a{
	border: none;
	border-left: none;
	border-right: none;
	border-top: none;
}
.col-2 {
  flex: 0 0 14.9% !important; /* Calculado como 100% / 13 - ajusta según sea necesario */
  max-width: 14.9% !important;
}
.col-1{
	flex: 0 0 7% !important; /* Calculado como 100% / 13 - ajusta según sea necesario */
  	max-width: 7% !important;
}
