body{
	font-family: sans-serif;
}
.agregar_usr{
	margin-left: 64% !important;
}
.container h1{
	margin-top: 30px;
	margin-bottom: 30px;
}
.container{
	position: relative;
	background-color: white;
}
.cont{
	display: grid;
	grid-template: "uno dos";
}

.cont-a{
	grid-area: uno;
}

.cont-b{
	text-align: right;
	grid-area: dos;
}

.div-encabezado{
	display: grid;
	grid-template: "primero segundo";
}
.btn_agregar{
	background-color: #50B848;
	border: none;
}
.btn_agregar:hover{
	background-color: #93E77D;
}
.editar_btn{
	background-color: #FEBE10 !important;
	border: none;
}
.editar_btn:hover{
	background-color: #EAB75D !important;
	border: none;
}
.titulo{
	grid-area: primero;
}
.titulo_pag{
	width: 100%;
	margin: 0 auto;
	text-align: center;
	margin-top: 30px;
}
.titulo_pag h5{
	color: #514F4F;;
}

.add{
	grid-area: segundo;
	text-align: right;
	margin-top: 40px;
}
.editar{
	margin-right: 20px;
}

.contM{
	padding-top: 10px;
	text-align: left;
	display: grid;
	grid-column-gap: 10px;
	grid-column-row: 10px;
	grid-template-columns: 50% 50%;
}
#correo1{
	border:none;
}
a:hover{
	cursor: pointer;
}

/* Modal para mostrar alerta al cambiar un rol*/
/* Estilo del modal */
.modalRol {
	display: none;
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background-color: rgba(0, 0, 0, 0.5);
	justify-content: center;
	align-items: center;
	z-index: 9999999;

}

.modalRol-content {
	background-color: #fff;
	border-radius: 10px;
	width: 300px;
	margin: 100px auto;
	padding: 20px;
	text-align: center;
	transition: opacity 0.5s;
	font-size: 1.5rem;
}

/* Estilo del botón Aceptar dentro del modal */
.modalRol-button {
	background-color: #007BFF;
	font-size: 1.5rem;
	color: #fff;
	border: none;
	padding: 10px 20px;
	border-radius: 5px;
	cursor: pointer;
}


