<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:hx="http://www.w3.org/1999/xhtml">
<head>
    <div th:replace="~{fragments/layout :: head(title='Historial de Solicitudes')}">

    </div>
    <!--Archivo css-->
    <link rel="stylesheet" href="/css/Historial.css" >
    
    <!--fin css-->

    <!--archivo js-->
    <script  type="text/javascript" src="/js/Historial.js"></script>

    <!--Fin archivo js-->


</head>

<body>
<div th:replace="~{fragments/layout :: nav}">

</div>

<div hx-get="/listaSolicitudesRealizadas"
     hx-target="#listaSolicitudesRealizadas"
     hx-swap="outerHTML"
     hx-include="[name='filtros-form']"
     hx-trigger="load  from:body">
</div>
<div hx-get="/listaSolicitudesRealizadas"
     hx-target="#listaSolicitudesRealizadas"
     hx-swap="outerHTML"
     hx-include="[name='filtros-form']"
     hx-trigger="refreshSolicitudes  from:body">
</div>
<div th:fragment="listaSolicitudesRealizadas" class="ContHistorial" id="listaSolicitudesRealizadas"><!--CONTENEDOR TABLA SOLICITUDES DE SALIDA-->
    <h1>Historial de solicitudes</h1>
    <h5>
		Gestiona las solicitudes de eventos pasados
	</h5>
    <div class="container-fluid">
        <!-- Formulario con los filtros -->
        <form class="row row-cols-lg-auto align-items-center g-3"
              name="filtros-form"
              hx-get="/listaSolicitudesRealizadas"
              hx-indicator=".htmx-indicator"
              hx-target="#listaSolicitudesRealizadas"
              th:object="${filtros}"
        >
            <input type="hidden" id="page" name="page" th:value="*{page}">
            <!-- La página a mostrar -->
            <div class="form-floating" sec:authorize="!hasAnyRole('ROLE_DOCENTE')">
                <input id="docente"
                       class="form-control" type="text"
                       placeholder="Docente"
                       th:field="*{nombreDocente}"
                >
                <label for="docente">Docente</label>
            </div>
            <div class="form-floating" sec:authorize="hasAnyRole('ROLE_DOCENTE')">
                <input id="nombre-evento" name="nombre"
                       class="form-control" type="text"
                       placeholder="Nombre del evento"
                       th:field="*{nombreEvento}"
                >
                <label for="nombre-evento">Nombre del evento</label>
            </div>
			<div class="col-12 ">
                <button type="submit" class="btn btn-primary"
                        onclick="document.getElementById('page').value = 1" data-toggle="tooltip" data-placement="top" title="Buscar">
                    <svg xmlns="http://www.w3.org/2000/svg" width="25" height="25" fill="currentColor" class="bi bi-search" viewBox="0 0 16 16">
                        <path d="M11.742 10.344a6.5 6.5 0 1 0-1.397 1.398h-.001c.03.04.062.078.098.115l3.85 3.85a1 1 0 0 0 1.415-1.414l-3.85-3.85a1.007 1.007 0 0 0-.115-.1zM12 6.5a5.5 5.5 0 1 1-11 0 5.5 5.5 0 0 1 11 0"/>
                    </svg>
                </button>
                
                <button type="button" class="btn btn-primary btn_filtro" onclick="activarFiltros()" data-toggle="tooltip" data-placement="top" title="Filtrar busqueda">
					<svg xmlns="http://www.w3.org/2000/svg" width="25" height="25" fill="currentColor" class="bi bi-funnel-fill" viewBox="0 0 16 16">
					  <path d="M1.5 1.5A.5.5 0 0 1 2 1h12a.5.5 0 0 1 .5.5v2a.5.5 0 0 1-.128.334L10 8.692V13.5a.5.5 0 0 1-.342.474l-3 1A.5.5 0 0 1 6 14.5V8.692L1.628 3.834A.5.5 0 0 1 1.5 3.5z"/>
					</svg>
				</button>
            </div>
            
            
            <div class="filtros row row-cols" id="filtrosid">
				
            <div class="form-floating col-3" sec:authorize="!hasAnyRole('ROLE_DOCENTE')">
                <input id="nombre-evento" name="nombre"
                       class="form-control" type="text"
                       placeholder="Nombre del evento"
                       th:field="*{nombreEvento}"
                >
                <label for="nombre-evento">Nombre del evento</label>
            </div>

            <div class="form-floating col-3" sec:authorize="!hasAnyRole('ROLE_DOCENTE')">
                <select class="form-select" id="categoria-filtro" th:field="*{idCategoria}">
                    <option value="" selected>-- Categoría --</option>
                    <option th:each="categoria : ${categorias}"
                            th:value="${categoria.idCategoria}"
                            th:text="${categoria.Cat_Descripcion}"
                            th:selected="${categoria.idCategoria == filtros.idCategoria}"></option>
                </select>
                <label for="categoria-filtro">Categoría</label>
            </div>

            <div class="form-floating col-3">
                <select class="form-select" id="act-asociada-filtro" th:field="*{idActAsociada}">
                    <option value="" selected>-- Actividad Asociada --</option>
                    <option th:each="act, iter : ${actAsociadas}"
                            th:value="${iter.index + 1}"
                            th:text="${act}"
                            th:selected="${iter.index + 1 == filtros.idActAsociada}"></option>
                </select>
                <label for="act-asociada-filtro">Actividad asociada</label>
            </div>

            <div class="form-floating col-3" sec:authorize="!hasAnyRole('ROLE_COORDINADOR')">
                <select class="form-control " id="carrera-filtros" th:field="*{idCarrera}">
                    <option value="" selected>-- Carrera --</option>
                    <option th:each="carrera : ${carreras}"
                            th:value="${carrera.idCarrera}"
                            th:text="${carrera.Carrera_Nombre}"
                            th:selected="${carrera.idCarrera == filtros.idCarrera}"></option>
                </select>
                <label for="carrera-filtros">Carrera</label>
            </div>

            <div class="form-floating col-3">
                <input id="lugar"
                       class="form-control" type="text"
                       placeholder="Lugar"
                       th:field="*{lugar}"
                >
                <label for="lugar">Lugar</label>
            </div>

            <div class="form-floating col-3">
                <select class="form-control " id="estado-filtros" th:field="*{idEstado}">
                    <option value="" selected>-- Estado --</option>
                    <option th:each="estado, iter : ${estados}"
                            th:value="${iter.index + 1}"
                            th:text="${estado}"
                            th:selected="${iter.index + 1 == filtros.idEstado}"></option>
                </select>
                <label for="estado-filtros">Estado</label>
            </div>
             <div class="form-floating col-2" sec:authorize="!hasAnyRole('ROLE_DOCENTE')">
                <input th:field="*{numEmpleado}" class="form-control" type="number" id="num-empleado-filtro"
                       min="10000" max="999999" step="1" pattern="^[0-9]*$" onkeydown="if([69,187,188,189,190].includes(event.keyCode))event.preventDefault()">
                <label for="num-empleado-filtro">Número de empleado</label>
            </div>

            <div class="form-floating col-2">
                <input type="date" id="fecha-inicio" th:field="*{fechaInicio}" class="form-control">
                <label for="fecha-inicio">Fecha inicio</label>
            </div>

            <div class="form-floating col-2">
                <input type="date" id="fecha-fin" th:field="*{fechaFin}" class="form-control">
                <label for="fecha-fin">Fecha fin</label>
            </div>
		</div>
        </form>
        <span class="htmx-indicator">
                  Buscando...
            </span>
    </div>

    <table class="table ContHistorial">
        <thead class="table-bordered"><!--ENCABEZADO DE LA TABLA-->
        <tr class="table-light">
            <th scope="col-2">Nombre del solicitante</th>
            <th scope="col-2">Nombre del evento</th>
            <th scope="col-1">Fecha de salida</th>
            <th scope="col-1">Fecha de llegada</th>
            <th scope="col-2">Estado</th>
            <th scope="col-2" class="oficioCol" sec:authorize="hasAnyRole('ROLE_SECRETARIO','ROLE_SUBDIRECTOR')">Oficio comisión</th>
            <th scope="col-1">Reporte de salida</th>
            <th scope="col-1">Solicitud</th>
        </tr>
        </thead><!--FIN ENCABEZADO DE TABLA-->

        <tbody><!--CUERPO DE LA TABLA-->
        <tr th:each="sol,iter : ${solicitudes_realizadas}">
            <td th:text="${usuarios[iter.index].username} + ' ' + ${usuarios[iter.index].apPaterno} + ' ' + ${usuarios[iter.index].apMaterno}"></td>
            <td th:text="${sol.nombreEvento}"></td>
            <td th:text="${#temporals.format(sol.fechaSalida, 'dd/MM/yyyy')}"></td>
            <td th:text="${#temporals.format(sol.fechaRegreso, 'dd/MM/yyyy')}"></td>
            <td th:text="${sol.estadoSolicitud}"></td>
            <!--COLUMNA OFICIO DE COMISION-->
            <td sec:authorize="hasAnyRole('ROLE_SECRETARIO','ROLE_SUBDIRECTOR')">
				<span class="d-inline-block" tabindex="0" data-toggle="tooltip" title="Generar oficio comisión">
                <a class="btn btn-danger oficioComision" id="oficioComision"
                   th:href="@{/solicitud/oficio/{id}(id=${sol.getIdSolicitud})}"
                   sec:authorize="hasAnyRole('ROLE_SECRETARIO')"
                   th:disabled="${sol.oficioSellado != null}"
                >
                     <svg xmlns="http://www.w3.org/2000/svg" width="25" height="25" fill="currentColor" class="bi bi-file-text-fill" viewBox="0 0 16 16">
                        <path d="M12 0H4a2 2 0 0 0-2 2v12a2 2 0 0 0 2 2h8a2 2 0 0 0 2-2V2a2 2 0 0 0-2-2M5 4h6a.5.5 0 0 1 0 1H5a.5.5 0 0 1 0-1m-.5 2.5A.5.5 0 0 1 5 6h6a.5.5 0 0 1 0 1H5a.5.5 0 0 1-.5-.5M5 8h6a.5.5 0 0 1 0 1H5a.5.5 0 0 1 0-1m0 2h3a.5.5 0 0 1 0 1H5a.5.5 0 0 1 0-1"/>
                    </svg>
                </a>
				</span>
				<span class="d-inline-block" tabindex="0" data-toggle="tooltip" title="Descargar oficio firmado">
                <button class="btn btn-primary verOficioFirmado"
                        th:disabled="${sol.oficioSellado == null}"
						th:onclick="'descargarOficioSellado(' + ${sol.getIdSolicitud} + ')'"
                >
                   
                    <svg xmlns="http://www.w3.org/2000/svg" width="25" height="25" fill="currentColor" class="bi bi-file-earmark-arrow-down-fill" viewBox="0 0 16 16">
                        <path d="M9.293 0H4a2 2 0 0 0-2 2v12a2 2 0 0 0 2 2h8a2 2 0 0 0 2-2V4.707A1 1 0 0 0 13.707 4L10 .293A1 1 0 0 0 9.293 0M9.5 3.5v-2l3 3h-2a1 1 0 0 1-1-1m-1 4v3.793l1.146-1.147a.5.5 0 0 1 .708.708l-2 2a.5.5 0 0 1-.708 0l-2-2a.5.5 0 0 1 .708-.708L7.5 11.293V7.5a.5.5 0 0 1 1 0"/>
                    </svg>
                </button>
                
                <!-- INICIO BOTON SUBIR OFICIO-->
                <span class="d-inline-block" tabindex="0" data-toggle="tooltip" title="Subir oficio firmado">
                <button class="btn btn-primary ificiofirmado"
                        th:disabled="${sol.oficioSellado != null}"
                        sec:authorize="hasAnyRole('ROLE_SECRETARIO')"
                        th:onclick="'document.getElementById(\'subirReporte_Solicitud_Id\').value = ' + ${sol.getIdSolicitud}"
                        type="button" data-bs-toggle="modal" data-bs-target="#subirReporteModal"        
                >
                    <svg xmlns="http://www.w3.org/2000/svg" width="25" height="25" fill="currentColor" class="bi bi-file-earmark-arrow-up-fill" viewBox="0 0 16 16">
                        <path d="M9.293 0H4a2 2 0 0 0-2 2v12a2 2 0 0 0 2 2h8a2 2 0 0 0 2-2V4.707A1 1 0 0 0 13.707 4L10 .293A1 1 0 0 0 9.293 0M9.5 3.5v-2l3 3h-2a1 1 0 0 1-1-1M6.354 9.854a.5.5 0 0 1-.708-.708l2-2a.5.5 0 0 1 .708 0l2 2a.5.5 0 0 1-.708.708L8.5 8.707V12.5a.5.5 0 0 1-1 0V8.707z"/>
                    </svg>
                </button>
                </span>
                <!-- FIN BOTON SUBIR OFICIO-->

                <!--<button class="btn btn-dark" data-bs-toggle="modal"
                        data-bs-target="#ModalSolicitudInfo">-->
            </td>
            <td>
				<span class="d-inline-block" tabindex="0" data-toggle="tooltip" title="Descargar reporte de salida">
                <button class="btn btn-primary roporte_btn"
                        th:disabled="${sol.idEstadoSolicitud != 6}"
						th:onclick="'descargarReporteFinal(' + ${sol.getIdSolicitud} + ')'"
                >
                    <svg xmlns="http://www.w3.org/2000/svg" width="25" height="25" fill="currentColor" class="bi bi-file-text-fill" viewBox="0 0 16 16">
                        <path d="M12 0H4a2 2 0 0 0-2 2v12a2 2 0 0 0 2 2h8a2 2 0 0 0 2-2V2a2 2 0 0 0-2-2M5 4h6a.5.5 0 0 1 0 1H5a.5.5 0 0 1 0-1m-.5 2.5A.5.5 0 0 1 5 6h6a.5.5 0 0 1 0 1H5a.5.5 0 0 1-.5-.5M5 8h6a.5.5 0 0 1 0 1H5a.5.5 0 0 1 0-1m0 2h3a.5.5 0 0 1 0 1H5a.5.5 0 0 1 0-1"/>
                    </svg>
                </button>
				</span>

            </td>
            <td>
				<span class="d-inline-block" tabindex="0" data-toggle="tooltip" title="Información de la solicitud">
                <button class="btn btn-dark" data-bs-toggle="modal" data-bs-target="#ModalSolicitudInfo"
                        th:hx-get="'/solicitud?id=' + ${sol.getIdSolicitud}"
                        hx-target="#solicitud-info-body"
                >
                    <svg xmlns="http://www.w3.org/2000/svg" width="25" height="25" fill="currentColor" class="bi bi-eye-fill" viewBox="0 0 16 16">
                        <path d="M10.5 8a2.5 2.5 0 1 1-5 0 2.5 2.5 0 0 1 5 0"/>
                        <path d="M0 8s3-5.5 8-5.5S16 8 16 8s-3 5.5-8 5.5S0 8 0 8m8 3.5a3.5 3.5 0 1 0 0-7 3.5 3.5 0 0 0 0 7"/>
                    </svg>
                </button>
				</span>
            </td>
        </tr>
        </tbody><!--FIN CUERPO TABLA-->
    </table>

    <nav aria-label="Page navigation example" class="pagCont">
        <ul class="pagination">
            <nav aria-label="Pagination" th:object="${filtros}">
                <ul class="pagination justify-content-center">
                    <li class="page-item" th:classappend="${prev == 0 ? 'disabled': ''}">
                        <a class="page-link"
                           hx-include="[name='filtros-form']"
                           hx-get="/listaSolicitudesRealizadas"
                           hx-target="#listaSolicitudesRealizadas"
                           th:onclick="'document.getElementById(\'page\').value = ' + ${prev}">
                            <svg xmlns="http://www.w3.org/2000/svg" width="25" height="25" fill="currentColor" class="bi bi-caret-left-fill" viewBox="0 0 16 16">
                                <path d="m3.86 8.753 5.482 4.796c.646.566 1.658.106 1.658-.753V3.204a1 1 0 0 0-1.659-.753l-5.48 4.796a1 1 0 0 0 0 1.506z"/>
                            </svg>
                        </a>
                    </li>
                    <li class="page-item" th:if="${first > 1}">
                        <a class="page-link"
                           hx-include="[name='filtros-form']"
                           hx-get="/listaSolicitudesRealizadas"
                           hx-target="#listaSolicitudesRealizadas"
                           onclick="document.getElementById('page').value = 1"
                        >1</a>
                    </li>
                    <li class="page-item" th:if="${first > 1}">
                        <a class="page-link">...</a>
                    </li>
                    <li class="page-item" th:each="page : ${pages}" th:classappend="${current == page ? 'active': ''}">
                        <a class="page-link"
                           hx-include="[name='filtros-form']"
                           hx-get="/listaSolicitudesRealizadas"
                           hx-target="#listaSolicitudesRealizadas"
                           th:onclick="'document.getElementById(\'page\').value=' + ${page}"
                           th:text="${page}"></a>
                    </li>
                    <li class="page-item" th:if="${end < last }">
                        <a class="page-link">...</a>
                    </li>
                    <li class="page-item" th:if="${end < last }">
                        <a class="page-link"
                           hx-include="[name='filtros-form']"
                           hx-get="/listaSolicitudesRealizadas"
                           hx-target="#listaSolicitudesRealizadas"
                           th:onclick="'document.getElementById(\'page\').value=' + ${last}"
                           th:text="${last}"
                        >...</a>
                    </li>
                    <li class="page-item" th:classappend="${current == last ? 'disabled': ''}">
                        <a class="page-link"
                           hx-include="[name='filtros-form']"
                           hx-get="/listaSolicitudesRealizadas"
                           hx-target="#listaSolicitudesRealizadas"
                           th:onclick="'document.getElementById(\'page\').value=' + ${next}">
                            <svg xmlns="http://www.w3.org/2000/svg" width="25" height="25" fill="currentColor" class="bi bi-caret-right-fill" viewBox="0 0 16 16">
                                <path d="m12.14 8.753-5.482 4.796c-.646.566-1.658.106-1.658-.753V3.204a1 1 0 0 1 1.659-.753l5.48 4.796a1 1 0 0 1 0 1.506z"/>
                            </svg>
                        </a>
                    </li>
                </ul>
            </nav>
        </ul>
    </nav>
</div><!--FIN CONTENEDOR SOLICITUDES-->



  <!-- MODAL SUBIR OFICIO -->
  <div class="modal fade" id="subirReporteModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
      <div class="modal-dialog">
      <form
          hx-post="/solicitud/subirReporte"
          hx-target="#resultadoReporteDiv"
          hx-swap="innerHTML"
          hx-encoding='multipart/form-data'
          hx-indicator="#indicadorReporte"
          onsubmit="document.getElementById('botonSubirReporte').classList.add('disabled')
                      "
      >
          <div class="modal-content">
              <div class="modal-header">
              <h5 class="modal-title" id="subirReporteModalLabel">Subir Oficio de Comisión</h5>
              <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="cerrar"></button>
              </div>
              <div class="modal-body">
              Elige un archivo PDF(Máximo de tamaño son 2MB):
              </div>
              <input hidden id="subirReporte_Solicitud_Id" name="solicitud_id">
              <input hidden id="tipoArchivo" name="tipoArchivo" value="2">
              <input required type="file" accept=".pdf" id="PDF_ReporteSalida" name="reporte_archivo" class="form-control "
                  onchange="document.getElementById('botonSubirReporte').classList.remove('disabled')
                              document.getElementById('alertaResultadoReporte').remove()
                              "
              >
              <div id="resultadoReporteDiv" class="modal-body d-flex justify-content-center">
              </div>
              <img  id="indicadorReporte" class="htmx-indicator" style="height: 5rem; width: 5rem;"  src="https://i.imgur.com/8THYvPQ.gif">
              <div class="modal-footer">
                  <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cerrar</button>
                  <button id="botonSubirReporte"
                  type="submit"  class="btn btn-primary">Subir</button>
              </div>
          </div>
      </form>
      </div>
  </div>
  <!-- FIN MODAL SUBIR OFICIO -->



<!--MODAL PARA VER INFORMACION DE SOLICITUD-->
<div class="modal fade" id="ModalSolicitudInfo" tabindex="-1" role="dialog" aria-labelledby="ModalSolicitudInfoLabel" aria-hidden="false">
    <div class="modal-dialog modalver" role="document">
        <div class="modal-content" id="cuadroModal">
            <div class="modal-content" id="tituloModal">
                <h5 class="modal-title" id="ModalSolicitudInfoLabel">
                    <span id="slc_Evento">Nombre del evento</span>
                </h5>

            </div>
            <div class="modal-body" id="solicitud-info-body">

            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" onclick="quitarModal(ModalSolicitudInfo)">Cerrar</button>
            </div>
        </div>
    </div>
</div>

<div class="piedepagina">
</div>
</body>
<script>
    function abrir_url(b_id){
        uriFile = '/solicitud/descargarReporte?idR='  + b_id
        window.open(uriFile, '_blank');

    }
    
    function descargarReporteFinal(id){
		window.location.href = '/solicitud/descargarReporteFinal/' + id;
	}
	
	function descargarOficioSellado(id){
		window.location.href = '/solicitud/descargarOficioSellado/' + id;
	}

</script>
</html>
