<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:hx="http://www.w3.org/1999/xhtml">
<head>
    <div th:replace="fragments/layout :: head">

    </div>
</head>

<body>
    <div th:replace="fragments/layout :: nav">

    </div>
<!--Perfil de usuario-->
        <!-- Modal -->
        <div class="modal fade m1" id="ModalPerfil" tabindex="-1" role="dialog" aria-labelledby="ModalPerfilTitle" aria-hidden="true">
    <div class="modal-dialog modal-lg" role="document">

        <div class="modal-content" id="modal">

            <div class="modal-header">
              <h5 class="modal-title" id="ModalPerfilTitle">Editar Usuario</h5>
            </div>

          <div class="modal-body">
              <form class="form-control" id="EditarPerfil" method="post" action="index.html">
                <label>Nombre(s)</label>
                <input class="form-control " type="text" id="nombre" value="Edgar" disabled required>

                <div class="container cont">
                    <div class="cont-a">
                        <label>Apellido paterno</label>
                        <input class="form-control " type="text" id="apPat" value="Nava" disabled required>
                    </div>
                    <div class="cont-b">
                        <label>Apellido materno</label>
                        <input class="form-control " type="text" id="apMat" value="Hernández" disabled required>
                    </div>
                </div>

                <label>Correo</label>
                <input class="form-control " type="email" id="correo" value="edgar.nava.hernandez@uabc.edu.mx" disabled required>
                <div class="container cont">

                    <div class="cont-a">
                      <label>Contreseña</label>
                      <input class="form-control " type="password" id="pwd" value="admin" disabled required>
                    </div>

                    <div class="cont-b">
                      <label>Numero de empleado</label>
                      <input class="form-control" type="number" id="numEmpleado" value="36148" required min="10000" max="999999" disabled>
                    </div>
                </div>

                <div class="container cont">
                  <div class="cont-a">
                      <label>Categoria</label>
                      <select class="form-control  " id="categoria" disabled required value="2">
                            <option value="1">Selecciona una categoria</option>
                            <option value="2" selected="true">Administrador</option>
                      </select>
                  </div>

                  <div class="cont-b">
                      <label>Carrera</label>
                      <select class="form-control " id="carrera" disabled required value="2">
                          <option value="1">Selecciona una carrera</option>
                          <option value="2" selected="true">ingenieria en computacion</option>
                      </select>
                  </div>
                </div>
              
                            <br>
              </form>
          </div>

          <div class="modal-footer">

            <button type="button" class="btn btn-secondary" onclick="quitarModal()">Cerrar</button>
            <button  type="button" class="btn btn-primary" id="editPerfil" onclick="habilitar_edicion()">Editar perfil</button>
            <button type="submit" class="btn btn-primary" >Guardar Cambios</button>
          </div>
        </form>
        </div>
      </div>
    </div>
<!--Fin perfil de usuario-->

    <!--iframe para cambiar contenido-->
    <div class="contIframe">
        <iframe id="contenedor" src="Inicio.html" width="100%" height="100%"></iframe>
    </div>
    <!--fin iframe-->
</body>
</html>