<!DOCTYPE html>
<html lang="es">
<head>
    <div th:replace="~{fragments/layout :: head(title='Principal')}">

    </div>
    <link rel="stylesheet" href="/css/Inicio.css">
</head>

<body>
<div th:replace="~{fragments/layout :: nav}">

</div>


<div class="solicitudContenedor" sec:authorize="hasAnyRole('ROLE_DOCENTE')"><!--CONTENEDOR TABLA SOLICITUDES DE SALIDA-->
    <img class="htmx-indicator" src="https://i.imgur.com/8THYvPQ.gif">
    <div id="result-accion"></div>
    <div id="result-cancelar"></div>
    <h4>Mis solicitudes de salida</h4>
    <h5 class="Descripcion_tabla">
        Gestiona el estado y la información de tus solicitudes de salida
    </h5>


   <div hx-get="/listaSolicitudes"
   		hx-target="#listaSolicitudes"
        hx-swap="outerHTML"
        hx-trigger="refreshSolicitudes from:body">
   </div>
   <div th:fragment="listaSolicitudes" class="listaSolicitudes" id="listaSolicitudes">
		   <div class="container mt-4 custom-container">
			  <div class="row">
			    <div class="col-md-3">
			      <div class="p-1">
			        <!-- Contenido del primer div -->
			        	<button
		                 hx-get="/docente/get-registrar-solicitud-form"
		                 hx-swap="innerHTML"
		                 hx-target="#modal-crear-solicitud-body"
		                 class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#ModalCrearSolicitud">
		                    Crear nueva solicitud
		             	</button>
			        
			      </div>
			    </div>
			    <div class="col-md-9">
					<!-- Contenido del segundo div -->
			      <div class="p-3">
			        	<b class="Importante">
                    		IMPORTANTE: *Cuentas con 5 dias habiles para entregar el reporte de salida despues de la fecha de regreso*
            			</b>
			      </div>
			    </div>
			  </div>
			</div>
    <table class="table">
        <thead class="table-bordered"><!--ENCABEZADO DE LA TABLA-->
        <tr class="table-light">
            <th scope="col">Nombre del evento</th>
            <th scope="col">Estado de la solicitud</th>
            <th scope="col" class="col-4">Opciones</th>
        </tr>
        </thead><!--FIN ENCABEZADO DE TABLA-->

        <tbody><!--CUERPO DE LA TABLA-->
        <tr th:each="sol : ${solicitudes}">
            <td th:text="${sol.nombreEvento}"></td>
            <td th:text="${sol.estadoSolicitud}"></td>
            <td>
                <!--                  <button class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#ModalEditarSolicitud">Editar</button>-->
                
                <button class="btn btn-secondary mb-2 me-2 " data-bs-toggle="modal" data-bs-target="#ModalSolicitudInfo"
                        th:hx-get="'/solicitud?id=' + ${sol.getIdSolicitud}"
                        hx-target="#solicitud-info-body"
                >
                    <svg xmlns="http://www.w3.org/2000/svg" width="25" height="25" fill="currentColor" class="bi bi-eye-fill" viewBox="0 0 16 16">
                        <path d="M10.5 8a2.5 2.5 0 1 1-5 0 2.5 2.5 0 0 1 5 0"/>
                        <path d="M0 8s3-5.5 8-5.5S16 8 16 8s-3 5.5-8 5.5S0 8 0 8m8 3.5a3.5 3.5 0 1 0 0-7 3.5 3.5 0 0 0 0 7"/>
                    </svg>
                </button>
                <button class="btn editar_btn mb-2 me-2" data-bs-toggle="modal" data-bs-target="#ModalEditarSolicitud"
                        
                        th:disabled="${sol.idEstadoSolicitud != 1 and sol.idEstadoSolicitud != 7}"
                        th:hx-get="'/docente/get-editar-form?id=' + ${sol.getIdSolicitud}"
                        hx-target="#modal-editar-solicitud-body"
                >
                    <svg xmlns="http://www.w3.org/2000/svg" width="25" height="25" fill="#B08208" class="bi bi-pencil-square" viewBox="0 0 16 16">
                        <path d="M15.502 1.94a.5.5 0 0 1 0 .706L14.459 3.69l-2-2L13.502.646a.5.5 0 0 1 .707 0l1.293 1.293zm-1.75 2.456-2-2L4.939 9.21a.5.5 0 0 0-.121.196l-.805 2.414a.25.25 0 0 0 .316.316l2.414-.805a.5.5 0 0 0 .196-.12l6.813-6.814z"/>
                        <path fill-rule="evenodd" d="M1 13.5A1.5 1.5 0 0 0 2.5 15h11a1.5 1.5 0 0 0 1.5-1.5v-6a.5.5 0 0 0-1 0v6a.5.5 0 0 1-.5.5h-11a.5.5 0 0 1-.5-.5v-11a.5.5 0 0 1 .5-.5H9a.5.5 0 0 0 0-1H2.5A1.5 1.5 0 0 0 1 2.5z"/>
                    </svg>
                </button>
                
                <button  id="btn_reporte"
                        
                        th:disabled="${sol.idEstadoSolicitud != 5}"
                        th:onclick="'document.getElementById(\'subirReporte_Solicitud_Id\').value = ' + ${sol.getIdSolicitud}"
                        type="button" class="btn reporte_btn mb-2 me-2" data-bs-toggle="modal" data-bs-target="#subirReporteModal">
                    <svg xmlns="http://www.w3.org/2000/svg" width="25" height="25" fill="#024731" class="bi bi-file-earmark-arrow-up-fill" viewBox="0 0 16 16">
                        <path d="M9.293 0H4a2 2 0 0 0-2 2v12a2 2 0 0 0 2 2h8a2 2 0 0 0 2-2V4.707A1 1 0 0 0 13.707 4L10 .293A1 1 0 0 0 9.293 0M9.5 3.5v-2l3 3h-2a1 1 0 0 1-1-1M6.354 9.854a.5.5 0 0 1-.708-.708l2-2a.5.5 0 0 1 .708 0l2 2a.5.5 0 0 1-.708.708L8.5 8.707V12.5a.5.5 0 0 1-1 0V8.707z"/>
                    </svg>
                </button>

                <button  id="btn_eliminarslc"
                        
                         th:disabled="${sol.idEstadoSolicitud == 5 or sol.idEstadoSolicitud == 6 or sol.idEstadoSolicitud == 8}"
                         th:onclick="'document.getElementById(\'solicitudCancelar\').value = ' + ${sol.getIdSolicitud}"
                         type="button" class="btn btn-danger mb-2 me-2" data-bs-toggle="modal" data-bs-target="#modalCancelar">

                    <svg xmlns="http://www.w3.org/2000/svg" width="25" height="25" fill="currentColor" class="bi bi-trash-fill" viewBox="0 0 16 16">
                        <path d="M2.5 1a1 1 0 0 0-1 1v1a1 1 0 0 0 1 1H3v9a2 2 0 0 0 2 2h6a2 2 0 0 0 2-2V4h.5a1 1 0 0 0 1-1V2a1 1 0 0 0-1-1H10a1 1 0 0 0-1-1H7a1 1 0 0 0-1 1zm3 4a.5.5 0 0 1 .5.5v7a.5.5 0 0 1-1 0v-7a.5.5 0 0 1 .5-.5M8 5a.5.5 0 0 1 .5.5v7a.5.5 0 0 1-1 0v-7A.5.5 0 0 1 8 5m3 .5v7a.5.5 0 0 1-1 0v-7a.5.5 0 0 1 1 0"/>
                    </svg>
                        
                </button>

                <!--                  <button class="btn btn-warning" id="btn_eliminarslc">x</button>-->
            </td>
        </tr>
        </tbody><!--FIN CUERPO TABLA-->
    </table>
   </div>
</div><!--FIN CONTENEDOR SOLICITUDES-->

<div class="separadordetablas" id="opc2"></div><!--NO QUITAR LO USO PARA QUE SE ACOMODEN BIEN LAS VISTAS AL USAR LA BARRA DE NAVEGACION-->


<!--MODAL PARA VER INFORMACION DE SOLICITUD-->
<div class="modal fade m1" id="ModalSolicitudInfo" tabindex="-1" role="dialog" aria-labelledby="ModalSolicitudInfoLabel" aria-hidden="false">
    <div class="modal-dialog modal-lg" role="document">
        <div class="modal-content" id="cuadroModal">
            <div class="modal-content" id="tituloModal">
                <h5 class="modal-title" id="ModalSolicitudInfoLabel">
                    <span id="slc_Evento">Nombre del evento</span>
                </h5>
            
            </div>
            <div class="modal-body" id="solicitud-info-body">

            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" onclick="quitarModal(ModalSolicitudInfo)">Cerrar</button>
            </div>
        </div>
    </div>
</div>
<!--FIN MODAL VER SOLICITUD INFO-->

<!--MODAL CANCELAR SOLICITUD-->
<!-- Modal -->
<div class="modal fade" id="modalCancelar" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Cancelar Solicitud</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                ¿Desea cancelar esta solicitud?
            </div>
            <form
                    hx-post="/docente/cancelar"
                    hx-target="#result-accion"
                    hx-swap="innerHTML"
            >
                <div class="modal-footer">
                    <input type="number" name="solicitudCancelar" id="solicitudCancelar" hidden>
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancelar</button>
                    <button type="submit" class="btn btn-primary" data-bs-dismiss="modal">Confirmar</button>
                </div>
            </form>

        </div>
    </div>
</div>
<!-- FIN MODAL CANCELAR SOLICITUD -->

<!--MODAL CREAR SOLICITUD-->
<!-- Modal -->
<div
        hx-swap="outerHTML"
        hx-trigger="resetForm from:body"
        hx-get="/docente/get-registrar-solicitud-form"
        hx-target="#modal-crear-solicitud-body"
>
</div>
<div class="modal fade" id="ModalCrearSolicitud" tabindex="-1" role="dialog" aria-labelledby="ModalCrearSolicitudTitle" aria-hidden="true">
    <div class="modal-dialog modal-lg" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h6 class="modal-title" id="ModalCrearSolicitudTitle">Nueva solicitud</h6>
            </div>
            <div class="modal-body">
                <form hx-post="/docente/registrar"
                      hx-target="#result-accion"
                      hx-swap="innerHTML"
                      id="crearSolictud"
                >
                    <div id="result-msg"></div>

                    <div id="modal-crear-solicitud-body"></div>


                    <div id="miModal" class="modalConfirmar">
                        <div class="modalConfirmar-content">
                            <p>¿Todos los datos son correctos?</p>
                            <button type="button"  class="btn btn-secondary" onclick="cerrarModal()">Cancelar</button>
                            <button class="btn btn-primary" onclick="cerrarModal();" type="submit" >Confirmar</button>
                        </div>
                    </div>
                </form>
                <div class="modal-footer">
                    <button type="button"  class="btn btn-secondary" onclick="quitarModal(ModalCrearSolicitud)">Cerrar</button>
                    <button onclick="validarForm()"  id="buttonCrearSolicitud" class="btn btn-primary">Crear solicitud</button>
                </div>
            </div>
        </div>
    </div>
</div>

<!--FIN MODAL CREAR SOLICITUD-->

<!--MODAL EDITAR SOLICITUD-->
<!-- Modal -->
<div class="modal fade" id="ModalEditarSolicitud" tabindex="-1" role="dialog" aria-labelledby="ModalEditarSolicitudTitle" aria-hidden="true">
    <div class="modal-dialog modal-lg" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h6 class="modal-title" id="ModalEditarSolicitudTitle">Editar solicitud</h6>
            </div>
            <div class="modal-body">
                <form id="form_EditarSolicitud" hx-post="/docente/editar"
                      hx-target="#result-accion"
                      hx-swap="innerHTML"
                      hx-indicator=".htmx-indicator"
                >
                    <div id="result-editar"></div>
                    <div id="modal-editar-solicitud-body"></div>

                    <div id="miModalEditar" class="modalConfirmar">
                        <div class="modalConfirmar-content">
                            <p>¿Desea guardar los cambios?</p>
                            <button type="button"  class="btn btn-secondary" onclick="cerrarModalEditar()">Cancelar</button>
                            <button class="btn btn-primary" data-bs-dismiss="modal" onclick="cerrarModalEditar()" type="submit" >Confirmar</button>
                        </div>
                    </div>
                </form>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" onclick="quitarModal(ModalEditarSolicitud)">Cerrar</button>
                    <button onclick="validarFormEditar()" class="btn btn-primary">Guardar Cambios</button>
                </div>
            </div>

        </div>
    </div>
</div>
<!--FIN MODAL EDITAR SOLICITUD-->


<!--CONTENEDOR TABLA SOLICITUDES POR FIRMAR-->
<div id="firmar-result"></div>

<div th:include="~{fragments/solicitud/solicitudes-por-firmar :: solicitudes-por-firmar}"
     hx-swap="innerHTML"
     hx-get="solicitud/por-firmar"
     hx-trigger="refreshSolicitudes from:body"
     class="solicitudes-por-firmar"
>

</div>

<!--FIN CONTENEDOR SOLICITUDES POR FIRMAR-->






    <!-- MODAL SUBIR REPORTE -->
    <div class="modal fade" id="subirReporteModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog">
        <form
            hx-post="/solicitud/subirReporte"
            hx-target="#resultadoReporteDiv"
            hx-swap="innerHTML"
            hx-encoding='multipart/form-data'
            hx-indicator="#indicadorReporte"
            onsubmit="document.getElementById('botonSubirReporte').classList.add('disabled')
                        //document.getElementById('divCargandoReporte').style.display = 'flex'
                        //document.getElementById('figCargandoReporte').style.display = 'block'
                        "
        >
            <div class="modal-content">
                <div class="modal-header">
                <h5 class="modal-title" id="subirReporteModalLabel">Subir Reporte</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                Elige un archivo PDF(Máximo de tamaño son 2MB):
                </div>
                <input hidden id="subirReporte_Solicitud_Id" name="solicitud_id">
                <input required type="file" accept=".pdf" id="PDF_ReporteSalida" name="reporte_archivo" class="form-control "
                    onchange="document.getElementById('botonSubirReporte').classList.remove('disabled')
                                document.getElementById('alertaResultadoReporte').remove()
                                "
                >
                <!-- clase bootstrap para error en input es is-invalid -->

                <div id="resultadoReporteDiv" class="modal-body d-flex justify-content-center">
                </div>
                <img  id="indicadorReporte" class="htmx-indicator" style="height: 5rem; width: 5rem;"  src="https://i.imgur.com/8THYvPQ.gif">

                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cerrar</button>
                    <button id="botonSubirReporte"

                    type="submit"  class="btn btn-primary">Subir</button>

                </div>


            </div>
        </form>

        </div>
    </div>
    <!-- FIN MODAL SUBIR REPORTE -->





<!-- MODAL RECHAZAR SOLICITUD -->
<div class="modal fade" id="rechazarSolicitud" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Rechazar Solicitud</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>

      <form
              hx-post="/solicitud/rechazar"
              hx-target="#firmar-result"
              hx-swap="innerHTML"
      >
      <div class="modal-body">
        ¿Seguro que desea rechazar la solicitud '<span id="confirmar-rechazo-evento"></span>'?
      </div>
      <input hidden id="rechazar-solicitud-id" name="rechazarId">

	    <div class="mb-3 mt-3 motivos">
            <p id="motivo-alert" style="color: red; display: none;">Especifique el motivo del rechazo de la solicitud </p>
			  <label for="motivoDescripcion" class="form-label">Motivos:</label>
			  <textarea  name="motivo" class="form-control" id="motivoDescripcion" rows="3"></textarea>
		</div>
      <div class="modal-footer">
        <button type="submit" hidden data-bs-dismiss="modal" id="botonRechazar"></button>
        <button onclick="limpiarModalRechazar();" type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cerrar</button>
        <button

        type="button" onclick="validarMotivo();"  class="btn btn-primary">Confirmar</button>
      </div>
      </form>
    </div>
  </div>
</div>
<!-- FIN MODAL RECHAZAR SOLICITUD -->


<!-- MODAL FIRMAR SOLICITUD -->
<div class="modal fade" id="confirmar-firma" tabindex="-1" aria-labelledby="Confirmar Firma" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h1 class="modal-title fs-5">Confirmar firma</h1>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                Desea firmar <span id="confirmar-firma-evento"></span>
                <input type="hidden" id="firmar-solicitud-id" name="solicitudid" value="">
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                <button type="button" class="btn btn-primary" data-bs-dismiss="modal" id="confirmar-firma-aceptar"
                        hx-post="/solicitud/firmar"
                        hx-include="[name='solicitudid']"
                        hx-target="#firmar-result"
                        hx-swap="innerHTML"
                >
                    Aceptar
                </button>
            </div>
        </div>
    </div>
</div>

<div class="separadordetablas" id="opc3"></div><!--NO QUITAR LO USO PARA QUE SE ACOMODEN BIEN LAS VISTAS AL USAR LA BARRA DE NAVEGACION-->

<div class="reporteSalida" sec:authorize="hasAnyRole('ROLE_ADMINISTRACIÓN','ROLE_SUBDIRECTOR', 'ROLE_DIRECTOR')">
    <h4>Reportes de salida pendientes</h4>
    <table class="table">
        <thead class="table-bordered"><!--ENCABEZADO DE LA TABLA-->
        <tr>
            <th scope="col">Nombre del evento</th>
            <th scope="col">Archivo PDF</th>
            <th scope="col">Opciones</th>
        </tr>
        </thead>
        <tbody>

        <tr>
            <td>Evento 4</td>
            <td><input type="file" accept=".pdf" id="PDF_ReporteSalida" class="form-control"></td>
            <td><button class="btn btn-dark" data-bs-toggle="modal" data-bs-target="#ModalSolicitudInfo">ver +</button></td>
        </tr>
        <tr>
            <td>Evento 5</td>
            <td><input type="file" accept=".pdf" id="PDF_ReporteSalida" class="form-control"></td>
            <td><button class="btn btn-dark" data-bs-toggle="modal" data-bs-target="#ModalSolicitudInfo">ver +</button></td>
        </tr>
        <tr>
            <td>Evento 6</td>
            <td><input type="file" accept=".pdf" id="PDF_ReporteSalida" class="form-control"></td>
            <td><button class="btn btn-dark" data-bs-toggle="modal" data-bs-target="#ModalSolicitudInfo">ver +</button></td>
        </tr>

        </tbody>
    </table>
</div>



<div class="piedepagina">
    <script src="/js/Inicio.js"></script>
</div>
<script>
    const firmarResult = document.getElementById('firmar-result')

    // Crea una instancia de MutationObserver
    const firmarObserver = new MutationObserver((mutationsList, observer) => {
        // Se ejecutará cada vez que haya un cambio en el div
        setTimeout(function() {
            // Elimina el elemento
            firmarResult.innerHTML = "";
        }, 3000); // 3000 milisegundos = 3 segundos
    });
    // Configura las opciones para observar cambios en el contenido del div
    let firmarConfig = { childList: true };

    // Inicia la observación del div con las opciones configuradas
    firmarObserver.observe(firmarResult, firmarConfig);
</script>
</body>
</html>