<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:hx="http://www.w3.org/1999/xhtml">
<head>
    <div th:replace="fragments/layout :: head(title='Inicio de Sesión')">

    </div>
    <link rel="stylesheet" href="estilo.css">

    <!--Archivo css-->
    <link th:href="@{css/Registro.css}" rel="stylesheet" type="text/css">
    <!--fin css-->

    <!--archivo js-->
    <script type="text/javascript" src="/js/Registro.js"></script>
    <!--Fin archivo js-->
</head>

<body>
<!--cuadro verde______________________-->
<div class="container-fluid encabezado">

</div>
<!--fin cuadro verde___________________.-->

<!--titulo________________________.-->
<div class="titulo">
    <h2>FACULTAD DE INGENIERÍA ARQUITECTURA Y DISEÑO</h2>
</div>
<!--fin titulo______________________.-->

<!--Logo cuadro verde oscuro________________-->
<div class="logoFormulario">
    <img class="Logo" src="img\Logo-UABC.png"/>
</div>
<!--fin logo________________________-->

<!--Titulo del sistema_________________.-->
<div class="subtitulo">
    <h2 class="sub">SISTEMA DE GESTIÓN DE SALIDAS</h2>
</div>
<!--fin titulo del sistema________________.-->

<!--inicio sesion________________________-->
<form class="w-50 p-3 mx-auto inicio-sesion " id="formInicio" method="post" th:action="@{/login}">
    <div th:if="${param.error}">
        <div class="alert alert-danger">
            Usuario o contraseña inválidos
        </div>
    </div>

    <div class="form-group">
        <label for="username">Usuario (correo sin @uabc.edu.mx)</label>
        <input type="text" class="form-control" id="username" name="username" placeholder="@uabc.edu.mx" aria-describedby="emailHelp" onkeyup="habilitar()">
    </div>
    <div class="form-group d-block">
        <label for="password">Contraseña</label>
        <input type="password" class="form-control" id="password" name="password" placeholder="Password">
    </div>
    <br>
    <button type="submit" class="btn btn-secondary btn-enviar" id="btn-enviar" >Iniciar sesión</button>
</form>
<!--fin inicio sesion_______________________.-->

</body>
</html>