<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="utf-8">
    <title>HTML</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <!-- CSS -->
    <link rel="stylesheet" href="/css/bootstrap/bootstrap.min.css">
    <link rel="stylesheet" href="/css/ListarUsuarios.css">
    <!--fin CSS-->

    <!-- HTMX -->
    <script src="/js/htmx.min.js"></script>

</head>

<body>
<div class="container">

    <div class="div-encabezado">

        <div class="titulo">
            <h1 class="display-6">Listado de Usuarios</h1>
        </div>

        <div class="add">
            <button class="btn btn-primary btn-agregar" data-bs-target="#ModalPerfil" data-bs-toggle="modal"
                    hx-get="/registrar-usuario/get-registrar-form"
                    hx-target="#modal-perfil-body">
                Agregar Usuario
            </button>
        </div>

    </div>

    <ul class="list-group">

        <li class="list-group-item">
            <div class="container cont">
                <div class="cont-a">
                    <input class="form-control" type="email" id="correo1" value="Edgar Nava Hernandez" readonly>
                </div>

                <div class="cont-b">
                    <button type="button" class="btn btn-primary editar" data-bs-target="#ModalPerfil"
                            data-bs-toggle="modal">Editar
                    </button>
                    <button type="button" class="btn btn-close"></button>
                </div>
            </div>
        </li>

        <li class="list-group-item">
            <div class="container cont">
                <div class="cont-a">
                    <input class="form-control" type="email" id="correo1" value="Edgar Nava Hernandez" readonly>
                </div>

                <div class="cont-b">
                    <button type="button" class="btn btn-primary editar" data-bs-target="#ModalPerfil"
                            data-bs-toggle="modal">Editar
                    </button>
                    <button type="button" class="btn btn-close"></button>
                </div>
            </div>
        </li>

        <li class="list-group-item">
            <div class="container cont">
                <div class="cont-a">
                    <input class="form-control" type="email" id="correo1" value="Edgar Nava Hernandez" readonly>
                </div>

                <div class="cont-b">
                    <button type="button" class="btn btn-primary editar" data-bs-target="#ModalPerfil"
                            data-bs-toggle="modal">Editar
                    </button>
                    <button type="button" class="btn btn-close"></button>
                </div>
            </div>
        </li>

        <li class="list-group-item">
            <div class="container cont">
                <div class="cont-a">
                    <input class="form-control" type="email" id="correo1" value="Edgar Nava Hernandez" readonly>
                </div>

                <div class="cont-b">
                    <button type="button" class="btn btn-primary editar" data-bs-target="#ModalPerfil"
                            data-bs-toggle="modal">Editar
                    </button>
                    <button type="button" class="btn btn-close"></button>
                </div>
            </div>
        </li>

        <li class="list-group-item">
            <div class="container cont">
                <div class="cont-a">
                    <input class="form-control" type="email" id="correo1" value="Edgar Nava Hernandez" readonly>
                </div>

                <div class="cont-b">
                    <button type="button" class="btn btn-primary editar" data-bs-target="#ModalPerfil"
                            data-bs-toggle="modal">Editar
                    </button>
                    <button type="button" class="btn btn-close"></button>
                </div>
            </div>
        </li>
    </ul>
</div>

<!--Perfil de usuario-->
<!-- Modal -->
<div class="modal fade m1" id="ModalPerfil" tabindex="-1" role="dialog" aria-labelledby="ModalPerfilTitle"
     aria-hidden="true">
    <div class="modal-dialog modal-lg" role="document">

        <div class="modal-content" id="modal">

            <div class="modal-header">
                <h5 class="modal-title" id="ModalPerfilTitle">Editar Usuario</h5>
            </div>

            <div class="modal-body" id="modal-perfil-body">

            </div>

            <div class="modal-footer">

                <button type="button" class="btn btn-secondary" onclick="quitarModal()">Cerrar</button>
                <button type="submit" class="btn btn-primary">Guardar Cambios</button>
            </div>
        </div>
    </div>
</div>

<!--archivos js-->
<script src="/js/bootstrap/bootstrap.bundle.min.js"></script>
<script type="text/javascript" src="/js/ListarUsuarios.js"></script>
<!--Fin archivos js-->
</body>
</html>