<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:hx="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="utf-8">
    <title>HTML</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <!-- CSS -->
    <link rel="stylesheet" href="/css/index.css">
    <link rel="stylesheet" href="/css/bootstrap/bootstrap.min.css">
    <link rel="stylesheet" href="/css/ListarUsuarios.css">
    <!--fin CSS-->

    <!-- HTMX -->
    <script src="/js/htmx.min.js"></script>

</head>

<body>
<div th:replace="~{fragments/layout :: nav}">

</div>
<div hx-target="#listaUsuarios" hx-swap="outerHTML" hx-trigger="load" th:attr="hx-get=@{'/usuario/pagination?page=' + ${current}}"></div>
<div id="result"></div>
<div th:fragment="listaUsuarios" class="listaUsuarios" id="listaUsuarios">
<div class="container">
    <div class="div-encabezado">
        <div hx-target="#listaUsuarios" hx-swap="outerHTML" hx-trigger="refresh from:body" th:attr="hx-get=@{'/usuario/pagination?page=' + ${current}}"></div>
        <div class="titulo">
            <h1 class="display-6">Listado de Usuarios</h1>
        </div>

        <div class="add">
            <button class="btn btn-primary btn-agregar" data-bs-target="#ModalRegistrar" data-bs-toggle="modal"
                    hx-get="/registrar-usuario/get-registrar-form"
                    hx-target="#modal-registrar-body">
                Registrar Usuario
            </button>
        </div>

    </div>

    <table class="table">
        <thead>
        <tr>
            <th scope="col">Nombre</th>
            <th scope="col">Correo</th>
            <th scope="col">Rol</th>
            <th scope="col">Editar</th>
            <th scope="col">Borrar</th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="user : ${users}">
            <td th:text="${user.username} +' '+${user.apPaterno}+' '+${user.apMaterno}"></td>
            <td th:text="${user.correo}"></td>
            <td th:text="${user.rol}">@</td>
            <td>
                <button type="button" class="btn btn-primary editar" data-bs-target="#ModalEditar" data-bs-toggle="modal"
                        hx-target="#modal-perfil-editar"
                        th:attr="hx-get=@{'/usuario/get-editar-form?id=' + ${user.idUsuario} + '&idRol=' + ${user.idRol}}">
                Editar
                </button>

            </td>
            <td>
                <button type="button" class="btn btn-close"></button>
            </td>
        </tr>
        </tbody>
    </table>
    <nav aria-label="Page navigation example">
        <ul class="pagination">
            <nav aria-label="Pagination">
                <ul class="pagination justify-content-center">
                    <li class="page-item" th:classappend="${prev == 0 ? 'disabled': ''}">
                        <a class="page-link"
                           th:attr="hx-get=@{'/usuario/pagination?page=' + ${prev}}, hx-target='.listaUsuarios'">Anterior</a>
                    </li>
                    <li class="page-item" th:if="${first > 1}">
                        <a class="page-link"
                           th:attr="hx-get=@{'/usuario/pagination?page=1'}, hx-target='.listaUsuarios'"
                           >1</a>
                    </li>
                    <li class="page-item" th:if="${first > 1}">
                        <a class="page-link">...</a>
                    </li>
                    <li class="page-item" th:each="page : ${pages}" th:classappend="${current == page ? 'active': ''}">
                        <a class="page-link"
                           th:attr="hx-get=@{'/usuario/pagination?page=' + ${page}}, hx-target='.listaUsuarios'"
                           th:text="${page}"></a>
                    </li>
                    <li class="page-item" th:if="${end < last }">
                        <a class="page-link">...</a>
                    </li>
                    <li class="page-item" th:if="${end < last }">
                        <a class="page-link"
                           th:attr="hx-get=@{'/usuario/pagination?page=' + ${last}}, hx-target='.listaUsuarios'"
                           th:text="${last}"
                        >...</a>
                    </li>
                    <li class="page-item" th:classappend="${current == last ? 'disabled': ''}">
                        <a class="page-link"
                           th:attr="hx-get=@{'/usuario/pagination?page=' + ${next}}, hx-target='.listaUsuarios'">Siguiente</a>
                    </li>
                </ul>
            </nav>
        </ul>
    </nav>
</div>
</div>
<!--Perfil de usuario-->
<div class="modal fade m1" id="ModalPerfil" tabindex="-1" role="dialog" aria-labelledby="ModalPerfilTitle"
     aria-hidden="true">
    <div class="modal-dialog modal-lg" role="document">

        <!--method="post" action="/registrar-usuario/registrar"-->
        <div class="modal-content" id="modal">
            <form class="form-control"
                  hx-post="/usuario/editar"
                  hx-target="#result"
                  hx-confirm="¿Seguro que desea guardar los cambios?"
                  hx-disinherit="hx-confirm"
                  hx-swap="innerHTML">

                <div class="modal-header">
                    <h5 class="modal-title" id="ModalPerfilTitle">Editar Usuario</h5>
                </div>

                <div class="modal-body" id="modal-perfil-body" hx-swap="innerHTML">
                </div>

                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cerrar</button>
                    <button class="btn btn-primary" id="editar-guardar-btn">
                        Editar
                    </button>
                </div>
            </form>
        </div>
    </div>
</div>

<!-- Modal para registrar usuario -->
<div class="modal fade m1" id="ModalRegistrar" tabindex="-1" role="dialog" aria-labelledby="ModalPerfilTitle"
     aria-hidden="true">
    <div class="modal-dialog modal-lg" role="document">

        <!--method="post" action="/registrar-usuario/registrar"-->
        <div class="modal-content">
            <form class="form-control" id="registrar-usuario-form"
                  hx-post="/registrar-usuario/registrar"
                  hx-target="#result-msg">

                <div class="modal-header">
                    <h5 class="modal-title">Editar Usuario</h5>
                    <div id="result-msg"></div>
                </div>

                <div class="modal-body" id="modal-registrar-body" hx-swap="innerHTML">
                </div>

                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cerrar</button>
                    <button type="submit" class="btn btn-primary">Guardar Cambios</button>
                </div>
            </form>
        </div>
    </div>
</div>

<!-- modal editar Usuario -->
<div class="modal fade m1" id="ModalEditar" tabindex="-1" role="dialog" aria-labelledby="ModalPerfilTitle"
     aria-hidden="true">
    <div class="modal-dialog modal-lg" role="document">
        <div class="modal-content">
            <form class="form-control" id="editar-usuario-form"
                  hx-post="/usuario/editar"
                  hx-target="#result"
                  hx-confirm="¿Seguro que desea guardar los cambios?"
                  hx-swap="innerHTML">
                <div class="modal-header">
                    <h5 class="modal-title">Editar Usuario</h5>
                </div>
                <div class="modal-body" id="modal-perfil-editar">

                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cerrar</button>
                    <button id="guardarCambiosBtn" data-bs-dismiss="modal" type="submit" class="btn btn-primary">Guardar Cambios</button>
                </div>
            </form>
        </div>
    </div>
</div>
<!-- Modal para mostrar alerta al cambiar el rol-->
<div id="miModal" class="modalRol">
    <div class="modalRol-content">
        <p>El perfil del rol seleccionado cambiará su información por la información de este usuario</p>
        <button onclick="cerrarModal()" class="modalRol-button">Aceptar</button>
    </div>
</div>
<!--archivos js-->
<script src="/js/bootstrap/bootstrap.bundle.min.js"></script>
<script type="text/javascript" src="/js/ListarUsuarios.js"></script>
<!--Fin archivos js-->
</body>
</html>