<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:hx="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="utf-8">
    <title>HTML</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <!-- CSS -->
    <link rel="stylesheet" href="/css/bootstrap/bootstrap.min.css">
    <link rel="stylesheet" href="/css/ListarUsuarios.css">
    <!--fin CSS-->

    <!-- HTMX -->
    <script src="/js/htmx.min.js"></script>

</head>

<body>
<div th:replace="fragments/layout :: nav">

</div>
<div class="container">
    <div class="div-encabezado">

        <div class="titulo">
            <h1 class="display-6">Listado de Usuarios</h1>
        </div>

        <div class="add">
            <button class="btn btn-primary btn-agregar" data-bs-target="#ModalPerfil" data-bs-toggle="modal"
                    hx-get="/registrar-usuario/get-registrar-form"
                    hx-target="#modal-perfil-body">
                Agregar Usuario
            </button>
        </div>

    </div>

    <table class="table">
        <thead>
        <tr>
            <th scope="col">Nombre</th>
            <th scope="col">Apellidos</th>
            <th scope="col">Correo</th>
            <th scope="col">Número de Empleado</th>
            <th scope="col">Editar</th>
            <th scope="col">Borrar</th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="user : ${users}">
            <td th:text="${user.username}"></td>
            <td th:text="${user.apPaterno}"></td>
            <td th:text="${user.correo}"></td>
            <td th:text="${user.numEmpleado}">@</td>
            <td>
                <button type="button" class="btn btn-primary editar" data-bs-target="#ModalPerfil" data-bs-toggle="modal">Editar</button>
            </td>
            <td>
                <button type="button" class="btn btn-close"></button>
            </td>
        </tr>
        </tbody>
    </table>
</div>

<!--Perfil de usuario-->
<!-- Modal -->
<div class="modal fade m1" id="ModalPerfil" tabindex="-1" role="dialog" aria-labelledby="ModalPerfilTitle"
     aria-hidden="true">
    <div class="modal-dialog modal-lg" role="document">

              <!--method="post" action="/registrar-usuario/registrar"-->
        <div class="modal-content" id="modal">
            <form class="form-control" id="registrar-usuario-form"
                  hx-post="/registrar-usuario/registrar"
                  hx-target="#result-msg">

                <div class="modal-header">
                    <h5 class="modal-title" id="ModalPerfilTitle">Editar Usuario</h5>
                    <div id="result-msg"></div>
                </div>

                <div class="modal-body" id="modal-perfil-body" hx-swap="innerHTML">
                </div>

                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" onclick="/*quitarModal()*/">Cerrar</button>
                    <button type="submit" class="btn btn-primary">Guardar Cambios</button>
                </div>
            </form>
        </div>
    </div>
</div>

<!--archivos js-->
<script src="/js/bootstrap/bootstrap.bundle.min.js"></script>
<script type="text/javascript" src="/js/ListarUsuarios.js"></script>
<!--Fin archivos js-->
</body>
</html>